In [1]:
a = list(range(10))
print(a)
b = list(map(lambda x: x**3,a))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [2]:
def reverselist(list):
    list.reverse()
    return list
numbers =[1,2,3,4,5]
print(reverselist(numbers))

[5, 4, 3, 2, 1]

In [3]:
magicians = ['david','alex','tyler']
for magician in magicians:
    print(magician,'that was great trick')
    print('i cant wait for your next trick',magician)
print('thanks for everyone for your tricks see you soon')

david that was great trick
i cant wait for your next trick david
alex that was great trick
i cant wait for your next trick alex
tyler that was great trick
i cant wait for your next trick tyler
thanks for everyone for your tricks see you soon

In [4]:
pizza = ['farmhouse','deluxe veggie','corn']
for pizzas in pizza:
    print('i like all different aspect of this pizza',pizzas)
print('i like all these pizzas')

i like all different aspect of this pizza farmhouse
i like all different aspect of this pizza deluxe veggie
i like all different aspect of this pizza corn
i like all these pizzas

In [5]:
a = list(range(0,50))
print('the given series is',a)
even_numbers = list(range(0,50,2))
print(even_numbers,'are the required even numbers')

the given series is [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48] are the required even numbers

In [6]:
motorcycle = []
motorcycle.append('yamaha')
motorcycle.append('ducati')
motorcycle.append('honda')
motorcycle.append('hayabusa')
motorcycle.append('suzuki')


print(motorcycle)

['yamaha', 'ducati', 'honda', 'hayabusa', 'suzuki']

In [7]:
motorcycle.insert(0,'triumph')

In [8]:
print(motorcycle)

['triumph', 'yamaha', 'ducati', 'honda', 'hayabusa', 'suzuki']

In [9]:
pop_motorcycle = motorcycle.pop()
print('the last bike that i have bought is',pop_motorcycle)

the last bike that i have bought is suzuki

In [10]:
pop_motorcycle = motorcycle.pop()
print('the last bike that i have bought is',pop_motorcycle)

the last bike that i have bought is hayabusa

In [11]:
first_owned = motorcycle.pop(0)
print('my first motocycle was',first_owned)

my first motocycle was triumph

In [12]:
guest_list = ['david','alex','roobbie','chris','tony']
for guest in guest_list:
    print('welcome to the party',guest)
print('welcome all !')
print('sorry guys',guest_list.pop(4),'will not come he has to build stark tower')

welcome to the party david
welcome to the party alex
welcome to the party roobbie
welcome to the party chris
welcome to the party tony
welcome all !
sorry guys tony will not come he has to build stark tower

In [13]:
guest_list.insert(4,'ben')

In [14]:
print(guest_list)

['david', 'alex', 'roobbie', 'chris', 'ben']

In [15]:

print('welcome to the party',guest)

welcome to the party tony

In [16]:
for guest in guest_list:
    
    print('welcome to the party',guest)
    print('sorry guys only 2 peoples are able to get the dinner because the table is small',guest)

welcome to the party david
sorry guys only 2 peoples are able to get the dinner because the table is small david
welcome to the party alex
sorry guys only 2 peoples are able to get the dinner because the table is small alex
welcome to the party roobbie
sorry guys only 2 peoples are able to get the dinner because the table is small roobbie
welcome to the party chris
sorry guys only 2 peoples are able to get the dinner because the table is small chris
welcome to the party ben
sorry guys only 2 peoples are able to get the dinner because the table is small ben

In [17]:
new_list = guest_list.pop(0)
print('i am sorry i cant invite you',new_list, 'better luck next time')

i am sorry i cant invite you david better luck next time

In [18]:
cars = ['audi','bmw','dodge','tesla']
cars.sort(reverse = True)

In [19]:
cars

['tesla', 'dodge', 'bmw', 'audi']

In [20]:
cars = ['audi','bmw','dodge','tesla']
cars.sort(reverse = False)

In [21]:
cars

['audi', 'bmw', 'dodge', 'tesla']

In [22]:
cars = ['audi','bmw','dodge','tesla']
cars.insert(2,'zen')

In [23]:
print('here is the original list',cars)

here is the original list ['audi', 'bmw', 'zen', 'dodge', 'tesla']

In [24]:
cars.sort(reverse = True)

In [25]:
print('here is the reverse list',cars)

here is the reverse list ['zen', 'tesla', 'dodge', 'bmw', 'audi']

In [26]:
places = ['delhi','rome','budapest','vatican city','silicon valley','canada']
x = places
print('here is the original list',x)

here is the original list ['delhi', 'rome', 'budapest', 'vatican city', 'silicon valley', 'canada']

In [27]:
print('here is the sorted list',x)

here is the sorted list ['delhi', 'rome', 'budapest', 'vatican city', 'silicon valley', 'canada']

In [28]:
places.sort(reverse = True)

In [29]:
print('places is in reverse order',places)

places is in reverse order ['vatican city', 'silicon valley', 'rome', 'delhi', 'canada', 'budapest']

In [30]:
places

['vatican city', 'silicon valley', 'rome', 'delhi', 'canada', 'budapest']

In [35]:
numbers = list(range(1,101))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [36]:
min(numbers)

1

In [37]:
max(numbers)

100

In [38]:
sum(numbers)

5050

In [48]:
# slicing a list
players = ['charles','martin','alexis','tori']
print(players[0:4])

['charles', 'martin', 'alexis', 'tori']

In [49]:
print(players[1:4])

['martin', 'alexis', 'tori']

In [51]:
print('here are the three numbers')
for player in players[:3]:
    print(player)

here are the three numbers
charles
martin
alexis

In [53]:
restaurant = ['rice','chicken','dal','naan','paneer','potato']
print('here is the items in following menu')
for items in restaurant[:]:
    print(items)

here is the items in following menu
rice
chicken
dal
naan
paneer
potato

In [55]:
revised_list = restaurant

In [56]:
revised_list.insert(3,'mix veg')

In [57]:
print(revised_list)

['rice', 'chicken', 'dal', 'mix veg', 'naan', 'paneer', 'potato']

In [64]:
# if
cars = ['dodge','toyota','satan']
for car in cars:
    if car == 'dodge':
        print(car.upper())
    else:
        print(car)

DODGE
toyota
satan

In [66]:
artist = ['imran','zaen','sufi','malik']
'imran' in artist

True

In [68]:
user = 'bajwa'
if user  not in artist:
    print(user.title(),'you are not in the list of the banned people you can come')

Bajwa you are not in the list of the banned people you can come

In [69]:
age = 19
if age>=18:
    print('you can vote')
else:
    print('you can not vote')

you can vote

In [72]:
x = int(input('enter the number'))
if x<4:
    print('no cost for admission')
elif x<18:
    print('you have to pay 5 dollar per month')
else:
    print('you are good to go')

enter the number44
you are good to go