# Excercise 1

In [1]:
'''Read two integers and print two lines,the first line should contain integer dvision,the second line contain float devision'''
x = int(input())
y = int(input())
print(x//y)
print(x/y)

ValueError: invalid literal for int() with base 10: ''

# Excercise 2

In [2]:
'''Read 2 integers as input and print 3 lines
1st line contains sum of 2 numbers
2nd line contains the difference of 2 numbers
3rd line contains product of 2 number'''

'Read 2 integers as input and print 3 lines\n1st line contains sum of 2 numbers\n2nd line contains the difference of 2 numbers\n3rd line contains product of 2 number'

In [3]:
x = int(input())
y = int(input())
print(x+y)
print(x-y)
print(x*y)

ValueError: invalid literal for int() with base 10: ''

## Excercise 3 (with constrains)

In [4]:
# '''1<x<10^10 
#    1<y<10^10'''
a = int(input())
b = int(input())
if (a>=1 and a<=10**10 and b>=1 and b<=10**10):
    print(a+b)
    print(a-b)
    print(a*b)

ValueError: invalid literal for int() with base 10: ''

## Excercise 4

In [5]:
# read an integer for an n for all non negative i<n integers,print I*I
a = int(input())
i = 0
if (a <=100 and a>=1):
    for i in range(0,a):
        print(i**2)

ValueError: invalid literal for int() with base 10: ''

## Excercise 5

In [6]:
# finding out the leap year according to georgian calender
# defining the function
def is_leap(year):
    leap = False
    if(year>=1900 and year<=10**5):
        if(year%400==0):
            leap = True
            if(year%100!=0 and year%4==0):
                leap = True
    return leap
year = int(input())
print(is_leap(year))

ValueError: invalid literal for int() with base 10: ''

## Excercise 6

In [7]:
# read the integer without using the string
a = int(input())
c = 0
for i in range(1,a+1):
    w = 10**(a-i)
    c = c+w*i
    print (c)

ValueError: invalid literal for int() with base 10: ''

## Excercise 7

In [8]:
# time problem
# different timing are givent to performed tasks,excpected answer should be 12h 5 min
x = int(input()) 
y = int(input())
z = int(input())
a = int(input())
b = int(input())
c = int(input())
h = int(input())
m = int(input())
w = x+y+z+a+b+c
t = m-w
if(t>=0):
    print(h,t)
else:
        y=-t
        hh = y//60+1
        mm=60-(y%60)
        print(h-hh,mm)

ValueError: invalid literal for int() with base 10: ''

## Excercise 8

In [9]:
# making sorted list in descending order of different factors of institutes
a = int(input())
q=[]
for i in range(0,a):
    t = int(input())
    m = int(input())
    g = int(input())
    w = t+m+g
    q.append(w)
    q.sort(reverse = True)
print(q)

ValueError: invalid literal for int() with base 10: ''

## Excercise 9

In [10]:
# creating dictionary
n = int(input("Enter the number"))
d = {x:x*x for x in range(0,n+1)}
print(d)

Enter the number

ValueError: invalid literal for int() with base 10: ''

## Excercise 10

In [11]:
# write a python script sample{0:10}
d = {0:10,1:20}
d1 = {2:30}
d.update(d1)
print(d)

{0: 10, 1: 20, 2: 30}

## Excercise 11

In [12]:
# write a program to see if given key exist in dictionary
dict1 = {'name':'SANYAM', 'place':'Germany','School':'Universal publc school'}
print (dict1.keys())
k = input()
if (k in dict1.keys()):
    print("Given key already exist in dictionary")
else:
    print("given key doesnot exist in dictionary")

dict_keys(['name', 'place', 'School'])

given key doesnot exist in dictionary

## Excercise 12

In [13]:
# write a program to merge two dictionaries
d1 = {'name':'SANYAM','place':'BONN'}
d2 = {'natinality':'GERMANY'}
d1.update(d2)
print(d1)

{'name': 'SANYAM', 'place': 'BONN', 'natinality': 'GERMANY'}

## Excercise 13

In [14]:
# write a python script where the keys are 1 to 30 both included and values are square of keys
d = {x:x**2 for x in range(1,31)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900}

## Excercise 14

In [15]:
# find the given number of alphabet in given word
# lets say GOOGLE
a = input('Enter the word:')
l = list(a)
d=[]
for i in range(len(a)):
    c=0
    for j in range (len(a)):
        if 1[i]==1[j]:
            c=c+1
    d[1[i]]=c
print(d)

Enter the word:
[]

## Excercise 15

In [16]:
# finding out comom items in 2 list
ls = {'toy','playstation','digital blurays','cans','ice cubes','chair'}
ld = {'toy','chocolate','school bag','digital blurays','chair' }
lc=ls&ld
lsd = ls-lc
ldd=ld-lc
print(lc|lsd|ldd)

{'ice cubes', 'toy', 'digital blurays', 'cans', 'chocolate', 'chair', 'school bag', 'playstation'}

## Excercise 16

In [17]:
# write a program to calculate average marks
d = {'ajay':[90,95],'jon':[88,90],'josh':[45,33],'henry':[78,56]}
a = input('enter the name of student whose average you want to know: ')

m = d.get(a)
c=0
for i in m:
    c=c+i
print(a,'average marks are :',(c/2))

enter the name of student whose average you want to know:

TypeError: 'NoneType' object is not iterable

## Excercise 17

In [18]:
# identifying common items in list
d = {'clogne','beer','jam','fruits','vegetables','flour','detergents'}
d1 = {'clogne','beer','jam','fruits','vegetables','flour'}
d2 = {'lock','clothes','soaps','chair','candy','vegetables'}
t1 = d1&d
t2 = d1&d2
t3 = d2&d1
y = [len(t1),len(t2),len(t3)]
print(max(y))

6

## Excercise 18

In [19]:
# write the program for containing some football player names with resoective country name
d= {'team1':['david luiz','harry cane','hulk','pepe','shaqiri','mohammad salah','ozil'],'team2':['robben','persie','ribery','vidal','neur']}
k = input('entern the team name:')
print(d.get(k))

entern the team name:
None

## Excercise 19

In [20]:
# make a program to maintain telephone directory of different name
a = input('enter the name of person: ')
d = {'john clinton':'9989813933','john terry':'1334532535','john robbins':'7865430755','john percie':'8906542790'}
m = d.keys()
for x in m:
    w=x.split()
    for y in w:
        if (y ==a):
            print(d.get(x))

enter the name of person:

## Excercise 20

In [21]:
# write a program to convert tuple to string
a = ('I','R','E','L','A','N','D')
c = ''
for i in a:
    c=c+i
print(c)

IRELAND

In [22]:
# if statement
is_hot=False
if is_hot:
    print('it is hot day')
    print('drink plenty of water')
else:
    print("it is a cold day")
    print('wear the warm clothes')
print('enjoy your day')

it is a cold day
wear the warm clothes
enjoy your day

In [23]:
is_hot=False
is_cold =False
if is_hot:
    print('it is hot day')
    print('drink plenty of water')
elif is_cold:
    print("it is a cold day")
    print('wear the warm clothes')
else:
    print('its the lovely day')
print('enjoy your day')

its the lovely day
enjoy your day

In [62]:
price = 1000000
has_good_credit = True
if has_good_credit:
    down payment = 0.1*(price)
else:
    down payment = 0.2*price
print (f'down payment:{down payment}')

SyntaxError: invalid syntax (<ipython-input-62-dcd5127671c5>, line 4)

## some examples of IF AND ELSE statements with given boolean values

In [25]:
# logical operator
has_high_income = False
has_good_credit = True
if has_high_income or has_good_credit:
    print('Eligible for loan')

Eligible for loan

In [26]:
has_high_income = True
has_good_credit = True
if has_high_income and has_good_credit:
    print('Eligible for loan')

Eligible for loan

In [27]:
has_high_income = True
has_good_credit = True
has_criminal_record = False
if has_criminal_record and not has_good_credit:
    print('Eligible for loan')

In [28]:
# comparision operators
temperature = 35
if temperature>30:
    print('its a hot day')
else:
    print('its not a hot day')

its a hot day

In [29]:
 temperature = 35
if temperature==30:
    print('its a hot day')
else:
    print('its not a hot day')

its not a hot day

In [30]:
name = 'john'
print(len(name))
if len(name) <3:
    print('name must be atleast 3 character')
elif len(name)>50:
    print('name must be 50 character')
else:
    print('name looks good')

4
name looks good

## learning identifiers and data types

In [31]:
# i am going to assign 3 different data types numbers to see the results
# after executing the program i see in numeric data type we can execute numeric value in any order either its number,float or complex number
a = 10
b = 34.09
c = 348+90j
d = 43+9j

print(b-a)
print(d-c)
print(c-a)

24.090000000000003
(-305-81j)
(338+90j)

## tuples immutate data types

In [32]:
# tuple consists with the different objects with different number of data types along with comma having parenthesis on both the side 
# tuple is also the example of the data types whose values can not change
# lets have a look
lists = (1,2,3,10.67,"hi")                
print(lists[1:-1])
country_name = ("Australia = kangaroo","USA = burger", "India = Chai", "japan = sushi")
print(country_name[0])

(2, 3, 10.67)
Australia = kangaroo

## lists mutable data types

In [33]:
# lets create a list and try to change data type
# list is generaly created by square parenthesis
A = [1,2,4.0,"whats up!"]
print(A[0])
# lets change "4.0" with 14
A[2] = "replace 2 by 14"
print(A)
# lets create a list within list along side with some numeric value and tuple inside
B = [[1,2,3,4,4.90],4.89,90,(1,2,3,4,5,6,7)]
print(B)
print(B[0:2])
# we observe that whole list with in list is counted as single unit that is "0"(as per python counting starts)

1
[1, 2, 'replace 2 by 14', 'whats up!']
[[1, 2, 3, 4, 4.9], 4.89, 90, (1, 2, 3, 4, 5, 6, 7)]
[[1, 2, 3, 4, 4.9], 4.89]

In [34]:
family = [["A,S,P,B,M"],["G,T,T"],["C,G,K,C"]]

print(family[0])

['A,S,P,B,M']

## Dictionaries

In [35]:
# it contsins key values separeted by colon and enclosed with curly brackets
# i can also write it in list but in large code scripts its sometimes hard to remember the index values of key points to print hence on this point dictionary comes handy over lists and tuple
A = {'Age':24, 'Name':'jhon','country':'GERMANY', 'job':'cypher'}
print(A['Age'])

A = [24,"age"]
print(A[0])
# see the difference

24
24

## Operators and operands

In [36]:
print(4+5)
print(4-0)
print(4//3)
print(4/2)
print(4**2)
print(4*4)

9
4
1
2.0
16
16

## comparisons

In [37]:
a=10
b=19
c = a+b
print(c)

29

In [38]:
a+=b
a

29

In [39]:
a==b

False

In [40]:
1==1

True

In [41]:
a!= b

True

In [42]:
a>b

True

In [43]:
a<b

False

In [44]:
a

29

In [45]:
b

19

## conditional statement

In [46]:
x = 30
y = 20
if (x<y):
    print("this number is smaller")
else:
    print("this number is greater")

this number is greater

In [47]:
# using only if statement in line 11 i can substitute it with else statement
a = 70
if(a<10):
    print("less than 10")
if(10<=a<=25):
    print("greater than 10 but less than 25")
if(25<=a<=40):
    print('greater than 25 but less than 40')
if(40<=a<=65):
    print('greater than 40 but less than 65')
if(a>65):
    print("number is not in range")

number is not in range

In [48]:
# this implies that we can manipulate if and else staements in short line codes but in long codes else statement is necessary to use
# to execute the else statement first 4 if statements must be false
a = 70
if(a<10):
    print("less than 10")
if(10<=a<=25):
    print("greater than 10 but less than 25")
if(25<=a<=40):
    print('greater than 25 but less than 40')
if(40<=a<=65):
    print('greater than 40 but less than 65')
else:
    print("number is not in range")

number is not in range

In [49]:
marks = 70
if(marks<= 60):
    print('fail')
elif(60<=marks<=90):
    print('average')
else:
    print('well done!')

average

In [50]:
# 3 conditional statement in single code 
a = 15
if(a<10):
    print("less than 10")
elif(10<=a<=25):
    print("greater than 10 but less than 25")
elif(25<=a<=40):
    print('greater than 25 but less than 40')
elif(40<=a<=65):
    print('greater than 40 but less than 65')
else:
    print("number is out of range")

greater than 10 but less than 25

## Loops

In [51]:
# printing the statement again and again untill some conditions are met for example like making iterations
count = 0
while(count<51):
    print(count)
    count = count+3
print('Good bye!')

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
Good bye!

In [52]:
# while using for loop we can skip from one number to another
for i in range(1,11):
    if i ==8:
        continue
    print(i)

1
2
3
4
5
6
7
9
10

## input function

In [60]:
# we can take input from the user to execute code linewise
name = input("enter your name:")
age = input('enter your age:')
job = input('enter job title')
country = input('enter country name')
number = input('enter your number')
print('welcome',name)
print('your present age is',age)
print('you works as an',job)
print('you live in', country)

print("your age after 5 years will be:", (int(age)+5))

enter your name:arnold
enter your age:44
enter job titleactor
enter country nameUSA
enter your number+14857392048
welcome arnold
your present age is 44
you works as an actor
you live in USA
your age after 5 years will be: 49

In [59]:
# lets make it more in detail 
name = input('enter your name: ')
age = input('whats your age: ')
hobbies = input('whats your hobbies: ')
school = input('where have you completed your schooling: ')
yop = input('tell me the year of passing: ')
carrer_goal = input('what do you want to become in the future: ')
pet = input('do you own pet?: ')
food = input('what do you like in food ')
wheels = input('what kind of wheels do you have ')
currency = input('enter type of currency ')

print('welcome!',name)
print('your age is',age)
print('you look young your hobbies must be',hobbies)
print('you look educated i am sure you have done your schooling from',school)
print('when you passed i was in 5th standard',yop)
print('you look determinant towards',carrer_goal)
print('your house is big there must be dog name',pet)
print('you look healthy because you are',food)
print('you look rich i saw you on',wheels)
print('do you have stalk of',currency)

enter your name: sanyam
whats your age: 23
whats your hobbies: football
where have you completed your schooling: dav public school
tell me the year of passing: 2012
what do you want to become in the future: data scientist
do you own pet?: ramsey
what do you like in food vegeterian
what kind of wheels do you have maserati
enter type of currency euro
welcome! sanyam
your age is 23
you look young your hobbies must be football
you look educated i am sure you have done your schooling from dav public school
when you passed i was in 5th standard 2012
you look determinant towards data scientist
your house is big there must be dog name ramsey
you look healthy because you are vegeterian
you look rich i saw you on maserati
do you have stalk of euro

In [56]:
# i am writing a program with 2 else condition and one input command
a=input('enter the number')
print('your nuber is',a)
if (int(a)>300):
    print('extended number')
else:
    print("the number is in range")

enter the number700
your nuber is 700
extended number

In [58]:
# lets make it in more detail with the help of input function and tuple 

a = input('enter your card number: ')
b = input('enter your name: ')
print('your card number is: ',a)
print('your card name is: ',b)
bank_details = ("available balance:2000000","bank = citi bank", "country = USA", "branch = texas county")
print(bank_details[0])
print(bank_details[1])
print(bank_details[2])
print(bank_details[3])

enter your card number: 77746839
enter your name: ronny
your card number is:  77746839
your card name is:  ronny
available balance:2000000
bank = citi bank
country = USA
branch = texas county

In [4]:
a = input('current time in india(h): ')
print('current time in ireland is : ',(int(a)-5))

current time in india(h): 6
current time in ireland is :  1

## sequence operation

In [8]:
# concatation,repetition,membership testing,indexing,slicing
# lets have a look
list1 = ['hadoop','android','java','php','c++']
print(list1[1])
print(list1[0:2])
print(list1[-1])
print(list1[-2])

android
['hadoop', 'android']
c++
php

In [17]:
list2 = print(list1 + ['machine learning','AI'])

['hadoop', 'android', 'java', 'php', 'c++', 'machine learning', 'AI']

In [20]:
print(list1*8)

['hadoop', 'android', 'java', 'php', 'c++', 'hadoop', 'android', 'java', 'php', 'c++', 'hadoop', 'android', 'java', 'php', 'c++', 'hadoop', 'android', 'java', 'php', 'c++', 'hadoop', 'android', 'java', 'php', 'c++', 'hadoop', 'android', 'java', 'php', 'c++', 'hadoop', 'android', 'java', 'php', 'c++', 'hadoop', 'android', 'java', 'php', 'c++']

In [15]:
# lets check an element in list
print('hadoop' in list1)

True

In [16]:
print('AI' in list1)

False

In [21]:
# updating the list or replacing it with another tupe of element
list1[3] = 'HIVE'

In [22]:
print(list1)

['hadoop', 'android', 'java', 'HIVE', 'c++']

In [23]:
#deleting 
del(list1[0])
print(list1)

['android', 'java', 'HIVE', 'c++']

In [29]:
# remove and pop functions in the list
list = [1,2,3,4,5,'a','s','d','f','h','j','k','l']
print(list.pop(4))
list.remove(1)
print(list)

5
[2, 3, 4, 'a', 's', 'd', 'f', 'h', 'j', 'k', 'l']

In [30]:
list_3 = [x**2 for x in [1,2,3,4,5,6,7,8,]]
print(list_3)

[1, 4, 9, 16, 25, 36, 49, 64]

In [41]:
# using some built in functionl
list_4 = [1,2,3]
list_4.extend(['h'])
print(list_4)

[1, 2, 3, 'h']

In [43]:
list_4.insert(0,'hi')
print(list_4)

['hi', 1, 'hi', 2, 3, 'h']

In [44]:
list1 = ['hadoop','android','java','php','c++']
print(sorted(list1))

['android', 'c++', 'hadoop', 'java', 'php']