In [1]:
pwd

'C:\\Users\\user\\OneDrive\\Desktop\\scatter-plotter'

In [2]:
import pandas as pd

In [3]:
data = {'weekday' :['sun','sun','mon','mon'],
       'city' :['Austin','Dallas','Dallas','Austin'],
        'visitors' :[139,236,326,456],
        'signups' :[7,12,3,5]}

users = pd.DataFrame(data)
print(users)

  weekday    city  visitors  signups
0     sun  Austin       139        7
1     sun  Dallas       236       12
2     mon  Dallas       326        3
3     mon  Austin       456        5

In [4]:
# calling data frame from different dictionary

cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
signups = [7, 12, 3, 5]
visitors = [139, 237, 326, 456]
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
list_labels = ['city', 'signups', 'visitors', 'weekday']
list_cols = [cities,signups,visitors,weekdays]
zipped = list(zip(list_labels, list_cols))
print(zipped)

[('city', ['Austin', 'Dallas', 'Austin', 'Dallas']), ('signups', [7, 12, 3, 5]), ('visitors', [139, 237, 326, 456]), ('weekday', ['Sun', 'Sun', 'Mon', 'Mon'])]

In [5]:
data = dict(zipped)

In [6]:
users = pd.DataFrame(data)

In [7]:
print(users)

     city  signups  visitors weekday
0  Austin        7       139     Sun
1  Dallas       12       237     Sun
2  Austin        3       326     Mon
3  Dallas        5       456     Mon

In [8]:
# broadcasting
users['fees'] = 0

In [9]:
print(users)

     city  signups  visitors weekday  fees
0  Austin        7       139     Sun     0
1  Dallas       12       237     Sun     0
2  Austin        3       326     Mon     0
3  Dallas        5       456     Mon     0

In [11]:
# broadcasting with dict
heights = [ 59.0, 65.2, 62.9, 65.4, 63.7, 65.7, 64.1 ]
data = {'height': heights, 'sex': 'M'}
results = pd.DataFrame(data)
print(results)

   height sex
0    59.0   M
1    65.2   M
2    62.9   M
3    65.4   M
4    63.7   M
5    65.7   M
6    64.1   M

In [12]:
# index and columns
results.columns = ['height (in)', 'sex']
results.index = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
print(results)

   height (in) sex
A         59.0   M
B         65.2   M
C         62.9   M
D         65.4   M
E         63.7   M
F         65.7   M
G         64.1   M