In [25]:
pwd

'c:\\Users\\user\\OneDrive\\Desktop'

In [26]:
cd c:/Users/user/OneDrive/Desktop

c:\Users\user\OneDrive\Desktop

In [2]:
pwd

'C:\\Users\\user\\Pandas tutorial'

In [3]:
cd c:/Users/user/OneDrive/Desktop

c:\Users\user\OneDrive\Desktop

In [5]:
cd c:/Users/user/OneDrive/Desktop/CSV files

c:\Users\user\OneDrive\Desktop\CSV files

In [6]:
pwd

'c:\\Users\\user\\OneDrive\\Desktop\\CSV files'

## dataset basics for Iris

In [15]:
import pandas as pd
df = pd.read_csv("datasets-uci-iris.csv",nrows = 10)
df

     W    X    Y    Z            T
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

In [19]:
df.shape
df

     W    X    Y    Z            T
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

In [21]:
df.W

0    4.9
1    4.7
2    4.6
3    5.0
4    5.4
5    4.6
6    5.0
7    4.4
8    4.9
9    5.4
Name: W, dtype: float64

In [22]:
df.Z

0    0.2
1    0.2
2    0.2
3    0.2
4    0.4
5    0.3
6    0.2
7    0.2
8    0.1
9    0.2
Name: Z, dtype: float64

## slicing

In [24]:
df[2:5]

     W    X    Y    Z            T
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [25]:
df[:]

     W    X    Y    Z            T
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

### max and min values

In [26]:
df['W'].max()

5.4

In [28]:
df['X'].max()

3.9

In [29]:
df['Y'].min()

1.3

In [33]:
df['Z'].min()

0.1

## standard deviation and mean

In [34]:
df['W'].mean()

4.89

In [35]:
df['X'].mean()

3.3300000000000005

In [36]:
df['Y'].std()

0.107496769977314

In [37]:
df['Z'].std()

0.07888106377466154

## statistics on data in one command

In [41]:
df.describe()

               W          X          Y          Z
count  10.000000  10.000000  10.000000  10.000000
mean    4.890000   3.330000   1.460000   0.220000
std     0.331495   0.326769   0.107497   0.078881
min     4.400000   2.900000   1.300000   0.100000
25%     4.625000   3.100000   1.400000   0.200000
50%     4.900000   3.300000   1.450000   0.200000
75%     5.000000   3.550000   1.500000   0.200000
max     5.400000   3.900000   1.700000   0.400000

In [42]:
df[['W','X']][df.X==df['X'].max()]

     W    X
4  5.4  3.9

## working on Index

In [43]:
df.set_index('W',inplace=True)

In [44]:
df

       X    Y    Z            T
W
4.9  3.0  1.4  0.2  Iris-setosa
4.7  3.2  1.3  0.2  Iris-setosa
4.6  3.1  1.5  0.2  Iris-setosa
5.0  3.6  1.4  0.2  Iris-setosa
5.4  3.9  1.7  0.4  Iris-setosa
4.6  3.4  1.4  0.3  Iris-setosa
5.0  3.4  1.5  0.2  Iris-setosa
4.4  2.9  1.4  0.2  Iris-setosa
4.9  3.1  1.5  0.1  Iris-setosa
5.4  3.7  1.5  0.2  Iris-setosa

In [48]:
df.reset_index(inplace=True)
df

     W    X    Y    Z            T
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

## dataset making by list

In [56]:
dataset_uci = {
    'W':['4.9','4.7','4.6','5.0','5.4'],
    'X':['3.0','3.2','3.1','3.6','3.9'],
    'Y':['1.4','1.3','1.5','1.4','1.7'],
    'Z':['0.2','0.2','0.2','0.2','0.4']
}


df = pd.DataFrame(dataset_uci)
df

     W    X    Y    Z
0  4.9  3.0  1.4  0.2
1  4.7  3.2  1.3  0.2
2  4.6  3.1  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4