In [1]:
pwd

'C:\\Users\\user\\OneDrive\\Desktop\\PANDAS TUT'

In [2]:
import numpy as np
import pandas as pd

In [3]:
cd C:\\Users\\user\\OneDrive\\Desktop\\CSV files

C:\Users\user\OneDrive\Desktop\CSV files

In [4]:
pwd

'C:\\Users\\user\\OneDrive\\Desktop\\CSV files'

In [5]:
data = pd.read_csv('renfe.csv')
data

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
0,0,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 06:20,29-05-2019 09:16,AV City,38.55,Turista,Promo
1,1,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 07:00,29-05-2019 09:32,AVE,53.40,Turista,Promo
2,2,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 07:30,29-05-2019 09:51,AVE,47.30,Turista,Promo
3,3,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 08:00,29-05-2019 10:32,AVE,69.40,Preferente,Promo
4,4,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 08:30,29-05-2019 11:14,ALVIA,NaN,Turista,Promo
5,5,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 09:00,29-05-2019 11:38,AVE,60.30,Turista,Promo
6,6,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 09:45,29-05-2019 12:27,INTERCITY,62.20,Turista,Flexible
7,7,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 10:00,29-05-2019 12:32,AVE,47.30,Turista,Promo
8,8,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 11:00,29-05-2019 13:32,AVE,53.40,Turista,Promo
9,9,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 11:05,29-05-2019 13:41,ALVIA,NaN,Turista,Promo
10,10,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 12:00,29-05-2019 14:32,AVE,53.40,Turista,Promo
11,11,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 13:00,29-05-2019 15:40,AVE,53.40,Turista,Promo
12,12,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 13:30,29-05-2019 16:05,ALVIA,NaN,Turista,Promo
13,13,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 14:00,29-05-2019 16:32,AVE,60.30,Turista,Promo
14,14,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 15:00,29-05-2019 17:21,AVE,60.30,Turista,Promo
15,15,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 16:00,29-05-2019 18:30,AVE,60.30,Turista,Promo
16,16,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 16:30,29-05-2019 18:51,AVE,76.30,Turista,Flexible
17,17,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 17:00,29-05-2019 19:38,AVE,76.30,Turista,Flexible
18,18,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 18:00,29-05-2019 20:32,AVE,76.30,Turista,Flexible
19,19,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 18:35,29-05-2019 21:08,ALVIA,67.20,Turista,Flexible
20,20,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 19:00,29-05-2019 21:38,AVE,76.30,Turista,Flexible
21,21,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 19:30,29-05-2019 22:05,AVE,60.30,Turista,Promo
22,22,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 20:35,29-05-2019 23:15,AVE,53.40,Turista,Promo
23,23,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 21:25,30-05-2019 00:10,AV City,43.55,Turista,Promo
24,24,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 06:20,23-04-2019 09:16,AV City,43.55,Turista,Promo
25,25,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 07:00,23-04-2019 09:32,AVE,76.30,Turista,Flexible
26,26,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 07:30,23-04-2019 09:51,AVE,76.30,Turista,Flexible
27,27,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 08:00,23-04-2019 10:32,AVE,76.30,Turista,Flexible
28,28,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 08:30,23-04-2019 11:14,ALVIA,NaN,Turista,Flexible
29,29,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 09:00,23-04-2019 11:38,AVE,76.30,Turista,Flexible
...,...,...,...,...,...,...,...,...,...,...
1048545,1048545,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 15:00,28-05-2019 17:21,AVE,47.30,Turista,Promo
1048546,1048546,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 16:00,28-05-2019 18:30,AVE,69.40,Preferente,Promo
1048547,1048547,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 16:30,28-05-2019 18:51,AVE,47.30,Turista,Promo
1048548,1048548,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 17:00,28-05-2019 19:38,AVE,53.40,Turista,Promo
1048549,1048549,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 18:00,28-05-2019 20:32,AVE,76.30,Turista,Flexible
1048550,1048550,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 18:35,28-05-2019 21:08,ALVIA,67.20,Turista,Flexible
1048551,1048551,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 19:00,28-05-2019 21:38,AVE,76.30,Turista,Flexible
1048552,1048552,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 20:35,28-05-2019 23:15,AVE,47.30,Turista,Promo
1048553,1048553,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 21:25,29-05-2019 00:10,AV City,43.55,Turista,Promo
1048554,1048554,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 06:20,17-05-2019 09:16,AV City,49.15,Turista,Promo
1048555,1048555,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 07:00,17-05-2019 09:32,AVE,76.30,Turista,Flexible
1048556,1048556,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 08:00,17-05-2019 10:32,AVE,76.30,Turista,Flexible
1048557,1048557,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 08:30,17-05-2019 11:14,ALVIA,NaN,Turista,Flexible
1048558,1048558,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 09:00,17-05-2019 11:38,AVE,76.30,Turista,Flexible
1048559,1048559,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 09:45,17-05-2019 12:27,INTERCITY,62.20,Turista,Flexible
1048560,1048560,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 10:00,17-05-2019 12:32,AVE,76.30,Turista,Flexible
1048561,1048561,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 11:00,17-05-2019 13:32,AVE,76.30,Turista,Flexible
1048562,1048562,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 11:05,17-05-2019 13:41,ALVIA,NaN,Turista,Flexible
1048563,1048563,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 12:00,17-05-2019 14:32,AVE,76.30,Turista,Flexible
1048564,1048564,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 13:00,17-05-2019 15:40,AVE,76.30,Turista,Flexible
1048565,1048565,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 13:10,17-05-2019 20:51,MD-LD,34.35,Turista con enlace,Promo +
1048566,1048566,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 13:30,17-05-2019 16:05,ALVIA,NaN,Preferente,Promo
1048567,1048567,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 14:00,17-05-2019 16:32,AVE,101.50,Preferente,Promo
1048568,1048568,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 15:00,17-05-2019 17:21,AVE,76.30,Turista,Flexible
1048569,1048569,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 16:00,17-05-2019 18:30,AVE,76.30,Turista,Flexible
1048570,1048570,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 16:30,17-05-2019 18:55,AVE,76.30,Turista,Flexible
1048571,1048571,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 17:00,17-05-2019 19:38,AVE,NaN,Turista,Flexible
1048572,1048572,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 18:00,17-05-2019 20:32,AVE,76.30,Turista,Flexible
1048573,1048573,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 18:35,17-05-2019 21:08,ALVIA,NaN,Preferente,Flexible
1048574,1048574,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 19:00,17-05-2019 21:38,AVE,128.50,Preferente,Flexible

In [6]:
data.head(7)

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
0,0,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 06:20,29-05-2019 09:16,AV City,38.55,Turista,Promo
1,1,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 07:00,29-05-2019 09:32,AVE,53.40,Turista,Promo
2,2,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 07:30,29-05-2019 09:51,AVE,47.30,Turista,Promo
3,3,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 08:00,29-05-2019 10:32,AVE,69.40,Preferente,Promo
4,4,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 08:30,29-05-2019 11:14,ALVIA,NaN,Turista,Promo
5,5,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 09:00,29-05-2019 11:38,AVE,60.30,Turista,Promo
6,6,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 09:45,29-05-2019 12:27,INTERCITY,62.20,Turista,Flexible

In [7]:
data.describe()

         Unnamed: 0          price
count  1.048575e+06  975097.000000
mean   5.242870e+05      62.825282
std    3.026977e+05      25.719492
min    0.000000e+00      16.600000
25%    2.621435e+05      43.550000
50%    5.242870e+05      60.300000
75%    7.864305e+05      76.300000
max    1.048574e+06     214.200000

In [8]:
data['train_class'][20] = 'ireland'

c:\python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
data['train_class'][20]

'ireland'

In [10]:
ser = pd.Series(np.random.rand())

In [11]:
ser

0    0.008974
dtype: float64

In [12]:
type(ser)

pandas.core.series.Series

In [13]:
newdf = pd.DataFrame(np.random.rand(334,10), index = np.arange(334))
newdf

,0,1,2,3,4,5,6,7,8,9
0,0.184127,0.094278,0.086779,0.735097,0.272778,0.900426,0.983547,0.299481,0.806722,0.250899
1,0.027086,0.685126,0.414644,0.632627,0.629372,0.403296,0.247988,0.199276,0.527079,0.722521
2,0.756635,0.059583,0.420245,0.253404,0.236354,0.117977,0.761612,0.029570,0.210909,0.265324
3,0.437555,0.524692,0.683549,0.386938,0.832732,0.163633,0.884114,0.755076,0.789616,0.713854
4,0.710314,0.478633,0.142717,0.207126,0.906835,0.297559,0.809979,0.767891,0.962557,0.367070
5,0.344712,0.559918,0.346053,0.141184,0.188609,0.174815,0.351284,0.791937,0.393838,0.625135
6,0.047367,0.075118,0.076181,0.729152,0.882200,0.975637,0.486699,0.948882,0.176174,0.530714
7,0.616596,0.944884,0.461687,0.200796,0.005643,0.492140,0.003604,0.565625,0.576657,0.897000
8,0.786291,0.443571,0.750982,0.461175,0.506250,0.902411,0.834819,0.159430,0.797782,0.949367
9,0.687767,0.885002,0.459235,0.946388,0.034566,0.429432,0.527103,0.652078,0.573204,0.193889
10,0.375546,0.596434,0.472666,0.295366,0.403724,0.350993,0.881203,0.552540,0.045175,0.520606
11,0.031395,0.211436,0.899614,0.743097,0.484918,0.972639,0.364010,0.493043,0.532530,0.250683
12,0.626929,0.897453,0.584754,0.383609,0.393897,0.087077,0.373185,0.220227,0.993687,0.895262
13,0.236262,0.976125,0.015156,0.655401,0.916084,0.483957,0.945809,0.123183,0.762564,0.827858
14,0.115791,0.083090,0.358839,0.804729,0.081121,0.748860,0.711155,0.399781,0.167770,0.852692
15,0.787376,0.197503,0.437034,0.547474,0.210915,0.435102,0.711650,0.030188,0.387924,0.772242
16,0.662259,0.124637,0.155750,0.586552,0.806564,0.283858,0.904126,0.093947,0.511209,0.233931
17,0.180639,0.099604,0.243184,0.793296,0.725548,0.432630,0.774966,0.053560,0.060806,0.335878
18,0.857070,0.707234,0.076041,0.454103,0.888677,0.114744,0.942861,0.815184,0.161897,0.834010
19,0.899205,0.984603,0.009936,0.160334,0.409597,0.405004,0.583987,0.996415,0.432657,0.343993
20,0.108560,0.378065,0.814615,0.749543,0.484748,0.389279,0.438566,0.637939,0.711568,0.379820
21,0.542379,0.915328,0.783203,0.642466,0.777210,0.791470,0.263014,0.055400,0.003156,0.461130
22,0.726084,0.535801,0.809533,0.670527,0.386591,0.400678,0.987058,0.072831,0.181972,0.939716
23,0.747009,0.187243,0.210098,0.287966,0.511170,0.529246,0.588128,0.915791,0.225628,0.809180
24,0.932529,0.294673,0.311624,0.118598,0.442229,0.138227,0.680053,0.584681,0.223017,0.123450
25,0.311565,0.326809,0.322072,0.081760,0.235670,0.955322,0.537060,0.961795,0.364879,0.535998
26,0.719827,0.889552,0.617770,0.525010,0.555179,0.279471,0.703415,0.344202,0.128280,0.582576
27,0.599852,0.934467,0.075903,0.703697,0.828886,0.873038,0.481399,0.426876,0.658662,0.884055
28,0.136705,0.113311,0.154152,0.491459,0.221055,0.870846,0.866477,0.249619,0.620621,0.800963
29,0.629306,0.671024,0.197835,0.674194,0.323691,0.751697,0.785444,0.992798,0.381137,0.944398
...,...,...,...,...,...,...,...,...,...,...
304,0.639997,0.360776,0.183009,0.198977,0.149130,0.356180,0.817442,0.048590,0.776609,0.092870
305,0.589270,0.603197,0.637612,0.864433,0.382170,0.114339,0.181940,0.753182,0.792877,0.598877
306,0.568275,0.109367,0.454129,0.346071,0.369450,0.962219,0.472524,0.902058,0.814366,0.128825
307,0.661169,0.596994,0.695589,0.879167,0.948347,0.122567,0.936240,0.463572,0.800235,0.964928
308,0.733729,0.550068,0.509226,0.542844,0.870935,0.413172,0.835674,0.881578,0.048259,0.888129
309,0.408747,0.550696,0.794030,0.527458,0.251918,0.562619,0.300534,0.242608,0.119900,0.548481
310,0.515128,0.920593,0.091853,0.561070,0.913192,0.234352,0.344265,0.881643,0.527898,0.844603
311,0.430215,0.854919,0.523752,0.948911,0.364655,0.584838,0.987961,0.144001,0.531114,0.824600
312,0.302591,0.019554,0.019125,0.416161,0.081575,0.446283,0.114503,0.985723,0.416950,0.758715
313,0.016096,0.341985,0.828956,0.087444,0.509416,0.268980,0.429180,0.114430,0.724463,0.865533
314,0.673176,0.422355,0.968375,0.878998,0.182098,0.123865,0.886064,0.225501,0.276658,0.329023
315,0.292002,0.343370,0.310574,0.210399,0.768256,0.370978,0.427746,0.265938,0.266098,0.006386
316,0.550296,0.862538,0.622066,0.973482,0.140007,0.426074,0.840300,0.068500,0.216902,0.569946
317,0.944512,0.638851,0.580734,0.570470,0.503055,0.586443,0.398480,0.211464,0.100159,0.044069
318,0.942789,0.364218,0.576305,0.186290,0.164602,0.494762,0.435407,0.287175,0.606561,0.566951
319,0.687940,0.884077,0.844622,0.083181,0.000026,0.528950,0.376409,0.631633,0.195626,0.294018
320,0.126148,0.211724,0.909895,0.528925,0.041286,0.345846,0.027171,0.179082,0.525204,0.298118
321,0.931334,0.280787,0.883109,0.330016,0.750801,0.001989,0.382680,0.799444,0.916705,0.494207
322,0.614076,0.241768,0.878649,0.569194,0.904093,0.312884,0.041400,0.715775,0.075837,0.468404
323,0.816559,0.961586,0.143028,0.832584,0.941991,0.372984,0.114355,0.327006,0.052537,0.485774
324,0.838132,0.602797,0.268199,0.130639,0.580624,0.556103,0.005456,0.296675,0.841624,0.372918
325,0.184967,0.100629,0.235011,0.613300,0.337004,0.425956,0.625769,0.178957,0.833654,0.049451
326,0.033694,0.058875,0.134866,0.315080,0.804269,0.600803,0.361154,0.253504,0.174206,0.546371
327,0.102663,0.393818,0.140153,0.085462,0.688251,0.380701,0.385898,0.993348,0.098027,0.242680
328,0.613623,0.714898,0.634113,0.011783,0.374797,0.224632,0.040199,0.868260,0.536426,0.360266
329,0.707034,0.520458,0.882740,0.914185,0.186707,0.082221,0.281383,0.839479,0.395898,0.798985
330,0.231014,0.676624,0.293019,0.142562,0.369378,0.537733,0.005481,0.325332,0.262239,0.701275
331,0.419118,0.528989,0.524039,0.188986,0.769157,0.606172,0.415190,0.553961,0.965689,0.449771
332,0.099718,0.449898,0.616556,0.796935,0.113379,0.440089,0.855165,0.384123,0.704138,0.082378
333,0.874886,0.610440,0.642363,0.200234,0.754430,0.768310,0.188976,0.360978,0.126010,0.348646

In [14]:
newdf.describe()

,0,1,2,3,4,5,6,7,8,9
count,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000
mean,0.509582,0.484112,0.493185,0.513121,0.488750,0.486501,0.518841,0.471673,0.500604,0.487027
std,0.285725,0.301231,0.278570,0.291774,0.272711,0.292021,0.283129,0.283934,0.304139,0.288412
min,0.001585,0.002953,0.001787,0.000483,0.000026,0.000269,0.002981,0.005251,0.001743,0.002626
25%,0.240451,0.211508,0.256035,0.239625,0.253151,0.236653,0.312836,0.223637,0.223669,0.258156
50%,0.537605,0.485680,0.491746,0.546756,0.485085,0.452117,0.513163,0.465416,0.521240,0.481977
75%,0.754947,0.739317,0.719825,0.750912,0.721991,0.748691,0.772569,0.720240,0.776686,0.727412
max,0.998950,0.998752,0.999278,0.992765,0.998696,0.992731,0.998603,0.999540,0.998131,0.999907

In [15]:
type(newdf)
newdf.head()

,0,1,2,3,4,5,6,7,8,9
0,0.184127,0.094278,0.086779,0.735097,0.272778,0.900426,0.983547,0.299481,0.806722,0.250899
1,0.027086,0.685126,0.414644,0.632627,0.629372,0.403296,0.247988,0.199276,0.527079,0.722521
2,0.756635,0.059583,0.420245,0.253404,0.236354,0.117977,0.761612,0.029570,0.210909,0.265324
3,0.437555,0.524692,0.683549,0.386938,0.832732,0.163633,0.884114,0.755076,0.789616,0.713854
4,0.710314,0.478633,0.142717,0.207126,0.906835,0.297559,0.809979,0.767891,0.962557,0.367070

In [16]:
data.index

RangeIndex(start=0, stop=1048575, step=1)

In [17]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [18]:
data.columns

Index(['Unnamed: 0', 'insert_date', 'origin', 'destination', 'start_date',
       'end_date', 'train_type', 'price', 'train_class', 'fare'],
      dtype='object')

In [19]:
newdf.columns

RangeIndex(start=0, stop=10, step=1)

In [20]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,1048565,1048566,1048567,1048568,1048569,1048570,1048571,1048572,1048573,1048574
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,1048565,1048566,1048567,1048568,1048569,1048570,1048571,1048572,1048573,1048574
insert_date,19-04-2019 05:31,19-04-2019 05:31,19-04-2019 05:31,19-04-2019 05:31,19-04-2019 05:31,19-04-2019 05:31,19-04-2019 05:31,19-04-2019 05:31,19-04-2019 05:31,19-04-2019 05:31,...,30-04-2019 03:11,30-04-2019 03:11,30-04-2019 03:11,30-04-2019 03:11,30-04-2019 03:11,30-04-2019 03:11,30-04-2019 03:11,30-04-2019 03:11,30-04-2019 03:11,30-04-2019 03:11
origin,MADRID,MADRID,MADRID,MADRID,MADRID,MADRID,MADRID,MADRID,MADRID,MADRID,...,MADRID,MADRID,MADRID,MADRID,MADRID,MADRID,MADRID,MADRID,MADRID,MADRID
destination,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,...,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA,SEVILLA
start_date,29-05-2019 06:20,29-05-2019 07:00,29-05-2019 07:30,29-05-2019 08:00,29-05-2019 08:30,29-05-2019 09:00,29-05-2019 09:45,29-05-2019 10:00,29-05-2019 11:00,29-05-2019 11:05,...,17-05-2019 13:10,17-05-2019 13:30,17-05-2019 14:00,17-05-2019 15:00,17-05-2019 16:00,17-05-2019 16:30,17-05-2019 17:00,17-05-2019 18:00,17-05-2019 18:35,17-05-2019 19:00
end_date,29-05-2019 09:16,29-05-2019 09:32,29-05-2019 09:51,29-05-2019 10:32,29-05-2019 11:14,29-05-2019 11:38,29-05-2019 12:27,29-05-2019 12:32,29-05-2019 13:32,29-05-2019 13:41,...,17-05-2019 20:51,17-05-2019 16:05,17-05-2019 16:32,17-05-2019 17:21,17-05-2019 18:30,17-05-2019 18:55,17-05-2019 19:38,17-05-2019 20:32,17-05-2019 21:08,17-05-2019 21:38
train_type,AV City,AVE,AVE,AVE,ALVIA,AVE,INTERCITY,AVE,AVE,ALVIA,...,MD-LD,ALVIA,AVE,AVE,AVE,AVE,AVE,AVE,ALVIA,AVE
price,38.55,53.4,47.3,69.4,NaN,60.3,62.2,47.3,53.4,NaN,...,34.35,NaN,101.5,76.3,76.3,76.3,NaN,76.3,NaN,128.5
train_class,Turista,Turista,Turista,Preferente,Turista,Turista,Turista,Turista,Turista,Turista,...,Turista con enlace,Preferente,Preferente,Turista,Turista,Turista,Turista,Turista,Preferente,Preferente
fare,Promo,Promo,Promo,Promo,Promo,Promo,Flexible,Promo,Promo,Promo,...,Promo +,Promo,Promo,Flexible,Flexible,Flexible,Flexible,Flexible,Flexible,Flexible

In [21]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.184127,0.027086,0.756635,0.437555,0.710314,0.344712,0.047367,0.616596,0.786291,0.687767,...,0.838132,0.184967,0.033694,0.102663,0.613623,0.707034,0.231014,0.419118,0.099718,0.874886
1,0.094278,0.685126,0.059583,0.524692,0.478633,0.559918,0.075118,0.944884,0.443571,0.885002,...,0.602797,0.100629,0.058875,0.393818,0.714898,0.520458,0.676624,0.528989,0.449898,0.610440
2,0.086779,0.414644,0.420245,0.683549,0.142717,0.346053,0.076181,0.461687,0.750982,0.459235,...,0.268199,0.235011,0.134866,0.140153,0.634113,0.882740,0.293019,0.524039,0.616556,0.642363
3,0.735097,0.632627,0.253404,0.386938,0.207126,0.141184,0.729152,0.200796,0.461175,0.946388,...,0.130639,0.613300,0.315080,0.085462,0.011783,0.914185,0.142562,0.188986,0.796935,0.200234
4,0.272778,0.629372,0.236354,0.832732,0.906835,0.188609,0.882200,0.005643,0.506250,0.034566,...,0.580624,0.337004,0.804269,0.688251,0.374797,0.186707,0.369378,0.769157,0.113379,0.754430
5,0.900426,0.403296,0.117977,0.163633,0.297559,0.174815,0.975637,0.492140,0.902411,0.429432,...,0.556103,0.425956,0.600803,0.380701,0.224632,0.082221,0.537733,0.606172,0.440089,0.768310
6,0.983547,0.247988,0.761612,0.884114,0.809979,0.351284,0.486699,0.003604,0.834819,0.527103,...,0.005456,0.625769,0.361154,0.385898,0.040199,0.281383,0.005481,0.415190,0.855165,0.188976
7,0.299481,0.199276,0.029570,0.755076,0.767891,0.791937,0.948882,0.565625,0.159430,0.652078,...,0.296675,0.178957,0.253504,0.993348,0.868260,0.839479,0.325332,0.553961,0.384123,0.360978
8,0.806722,0.527079,0.210909,0.789616,0.962557,0.393838,0.176174,0.576657,0.797782,0.573204,...,0.841624,0.833654,0.174206,0.098027,0.536426,0.395898,0.262239,0.965689,0.704138,0.126010
9,0.250899,0.722521,0.265324,0.713854,0.367070,0.625135,0.530714,0.897000,0.949367,0.193889,...,0.372918,0.049451,0.546371,0.242680,0.360266,0.798985,0.701275,0.449771,0.082378,0.348646

In [22]:
newdf.head()

,0,1,2,3,4,5,6,7,8,9
0,0.184127,0.094278,0.086779,0.735097,0.272778,0.900426,0.983547,0.299481,0.806722,0.250899
1,0.027086,0.685126,0.414644,0.632627,0.629372,0.403296,0.247988,0.199276,0.527079,0.722521
2,0.756635,0.059583,0.420245,0.253404,0.236354,0.117977,0.761612,0.029570,0.210909,0.265324
3,0.437555,0.524692,0.683549,0.386938,0.832732,0.163633,0.884114,0.755076,0.789616,0.713854
4,0.710314,0.478633,0.142717,0.207126,0.906835,0.297559,0.809979,0.767891,0.962557,0.367070

In [23]:
data.sort_index(axis=0,ascending = False)

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
1048574,1048574,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 19:00,17-05-2019 21:38,AVE,128.50,Preferente,Flexible
1048573,1048573,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 18:35,17-05-2019 21:08,ALVIA,NaN,Preferente,Flexible
1048572,1048572,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 18:00,17-05-2019 20:32,AVE,76.30,Turista,Flexible
1048571,1048571,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 17:00,17-05-2019 19:38,AVE,NaN,Turista,Flexible
1048570,1048570,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 16:30,17-05-2019 18:55,AVE,76.30,Turista,Flexible
1048569,1048569,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 16:00,17-05-2019 18:30,AVE,76.30,Turista,Flexible
1048568,1048568,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 15:00,17-05-2019 17:21,AVE,76.30,Turista,Flexible
1048567,1048567,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 14:00,17-05-2019 16:32,AVE,101.50,Preferente,Promo
1048566,1048566,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 13:30,17-05-2019 16:05,ALVIA,NaN,Preferente,Promo
1048565,1048565,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 13:10,17-05-2019 20:51,MD-LD,34.35,Turista con enlace,Promo +
1048564,1048564,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 13:00,17-05-2019 15:40,AVE,76.30,Turista,Flexible
1048563,1048563,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 12:00,17-05-2019 14:32,AVE,76.30,Turista,Flexible
1048562,1048562,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 11:05,17-05-2019 13:41,ALVIA,NaN,Turista,Flexible
1048561,1048561,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 11:00,17-05-2019 13:32,AVE,76.30,Turista,Flexible
1048560,1048560,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 10:00,17-05-2019 12:32,AVE,76.30,Turista,Flexible
1048559,1048559,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 09:45,17-05-2019 12:27,INTERCITY,62.20,Turista,Flexible
1048558,1048558,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 09:00,17-05-2019 11:38,AVE,76.30,Turista,Flexible
1048557,1048557,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 08:30,17-05-2019 11:14,ALVIA,NaN,Turista,Flexible
1048556,1048556,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 08:00,17-05-2019 10:32,AVE,76.30,Turista,Flexible
1048555,1048555,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 07:00,17-05-2019 09:32,AVE,76.30,Turista,Flexible
1048554,1048554,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 06:20,17-05-2019 09:16,AV City,49.15,Turista,Promo
1048553,1048553,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 21:25,29-05-2019 00:10,AV City,43.55,Turista,Promo
1048552,1048552,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 20:35,28-05-2019 23:15,AVE,47.30,Turista,Promo
1048551,1048551,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 19:00,28-05-2019 21:38,AVE,76.30,Turista,Flexible
1048550,1048550,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 18:35,28-05-2019 21:08,ALVIA,67.20,Turista,Flexible
1048549,1048549,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 18:00,28-05-2019 20:32,AVE,76.30,Turista,Flexible
1048548,1048548,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 17:00,28-05-2019 19:38,AVE,53.40,Turista,Promo
1048547,1048547,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 16:30,28-05-2019 18:51,AVE,47.30,Turista,Promo
1048546,1048546,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 16:00,28-05-2019 18:30,AVE,69.40,Preferente,Promo
1048545,1048545,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 15:00,28-05-2019 17:21,AVE,47.30,Turista,Promo
...,...,...,...,...,...,...,...,...,...,...
29,29,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 09:00,23-04-2019 11:38,AVE,76.30,Turista,Flexible
28,28,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 08:30,23-04-2019 11:14,ALVIA,NaN,Turista,Flexible
27,27,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 08:00,23-04-2019 10:32,AVE,76.30,Turista,Flexible
26,26,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 07:30,23-04-2019 09:51,AVE,76.30,Turista,Flexible
25,25,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 07:00,23-04-2019 09:32,AVE,76.30,Turista,Flexible
24,24,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 06:20,23-04-2019 09:16,AV City,43.55,Turista,Promo
23,23,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 21:25,30-05-2019 00:10,AV City,43.55,Turista,Promo
22,22,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 20:35,29-05-2019 23:15,AVE,53.40,Turista,Promo
21,21,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 19:30,29-05-2019 22:05,AVE,60.30,Turista,Promo
20,20,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 19:00,29-05-2019 21:38,AVE,76.30,ireland,Flexible
19,19,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 18:35,29-05-2019 21:08,ALVIA,67.20,Turista,Flexible
18,18,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 18:00,29-05-2019 20:32,AVE,76.30,Turista,Flexible
17,17,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 17:00,29-05-2019 19:38,AVE,76.30,Turista,Flexible
16,16,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 16:30,29-05-2019 18:51,AVE,76.30,Turista,Flexible
15,15,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 16:00,29-05-2019 18:30,AVE,60.30,Turista,Promo
14,14,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 15:00,29-05-2019 17:21,AVE,60.30,Turista,Promo
13,13,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 14:00,29-05-2019 16:32,AVE,60.30,Turista,Promo
12,12,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 13:30,29-05-2019 16:05,ALVIA,NaN,Turista,Promo
11,11,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 13:00,29-05-2019 15:40,AVE,53.40,Turista,Promo
10,10,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 12:00,29-05-2019 14:32,AVE,53.40,Turista,Promo
9,9,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 11:05,29-05-2019 13:41,ALVIA,NaN,Turista,Promo
8,8,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 11:00,29-05-2019 13:32,AVE,53.40,Turista,Promo
7,7,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 10:00,29-05-2019 12:32,AVE,47.30,Turista,Promo
6,6,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 09:45,29-05-2019 12:27,INTERCITY,62.20,Turista,Flexible
5,5,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 09:00,29-05-2019 11:38,AVE,60.30,Turista,Promo
4,4,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 08:30,29-05-2019 11:14,ALVIA,NaN,Turista,Promo
3,3,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 08:00,29-05-2019 10:32,AVE,69.40,Preferente,Promo
2,2,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 07:30,29-05-2019 09:51,AVE,47.30,Turista,Promo
1,1,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 07:00,29-05-2019 09:32,AVE,53.40,Turista,Promo
0,0,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 06:20,29-05-2019 09:16,AV City,38.55,Turista,Promo

In [24]:
newdf.head()

,0,1,2,3,4,5,6,7,8,9
0,0.184127,0.094278,0.086779,0.735097,0.272778,0.900426,0.983547,0.299481,0.806722,0.250899
1,0.027086,0.685126,0.414644,0.632627,0.629372,0.403296,0.247988,0.199276,0.527079,0.722521
2,0.756635,0.059583,0.420245,0.253404,0.236354,0.117977,0.761612,0.029570,0.210909,0.265324
3,0.437555,0.524692,0.683549,0.386938,0.832732,0.163633,0.884114,0.755076,0.789616,0.713854
4,0.710314,0.478633,0.142717,0.207126,0.906835,0.297559,0.809979,0.767891,0.962557,0.367070

In [25]:
newdf.loc[0,0] = 'spain'
newdf

,0,1,2,3,4,5,6,7,8,9
0,spain,0.094278,0.086779,0.735097,0.272778,0.900426,0.983547,0.299481,0.806722,0.250899
1,0.0270862,0.685126,0.414644,0.632627,0.629372,0.403296,0.247988,0.199276,0.527079,0.722521
2,0.756635,0.059583,0.420245,0.253404,0.236354,0.117977,0.761612,0.029570,0.210909,0.265324
3,0.437555,0.524692,0.683549,0.386938,0.832732,0.163633,0.884114,0.755076,0.789616,0.713854
4,0.710314,0.478633,0.142717,0.207126,0.906835,0.297559,0.809979,0.767891,0.962557,0.367070
5,0.344712,0.559918,0.346053,0.141184,0.188609,0.174815,0.351284,0.791937,0.393838,0.625135
6,0.0473669,0.075118,0.076181,0.729152,0.882200,0.975637,0.486699,0.948882,0.176174,0.530714
7,0.616596,0.944884,0.461687,0.200796,0.005643,0.492140,0.003604,0.565625,0.576657,0.897000
8,0.786291,0.443571,0.750982,0.461175,0.506250,0.902411,0.834819,0.159430,0.797782,0.949367
9,0.687767,0.885002,0.459235,0.946388,0.034566,0.429432,0.527103,0.652078,0.573204,0.193889
10,0.375546,0.596434,0.472666,0.295366,0.403724,0.350993,0.881203,0.552540,0.045175,0.520606
11,0.031395,0.211436,0.899614,0.743097,0.484918,0.972639,0.364010,0.493043,0.532530,0.250683
12,0.626929,0.897453,0.584754,0.383609,0.393897,0.087077,0.373185,0.220227,0.993687,0.895262
13,0.236262,0.976125,0.015156,0.655401,0.916084,0.483957,0.945809,0.123183,0.762564,0.827858
14,0.115791,0.083090,0.358839,0.804729,0.081121,0.748860,0.711155,0.399781,0.167770,0.852692
15,0.787376,0.197503,0.437034,0.547474,0.210915,0.435102,0.711650,0.030188,0.387924,0.772242
16,0.662259,0.124637,0.155750,0.586552,0.806564,0.283858,0.904126,0.093947,0.511209,0.233931
17,0.180639,0.099604,0.243184,0.793296,0.725548,0.432630,0.774966,0.053560,0.060806,0.335878
18,0.85707,0.707234,0.076041,0.454103,0.888677,0.114744,0.942861,0.815184,0.161897,0.834010
19,0.899205,0.984603,0.009936,0.160334,0.409597,0.405004,0.583987,0.996415,0.432657,0.343993
20,0.10856,0.378065,0.814615,0.749543,0.484748,0.389279,0.438566,0.637939,0.711568,0.379820
21,0.542379,0.915328,0.783203,0.642466,0.777210,0.791470,0.263014,0.055400,0.003156,0.461130
22,0.726084,0.535801,0.809533,0.670527,0.386591,0.400678,0.987058,0.072831,0.181972,0.939716
23,0.747009,0.187243,0.210098,0.287966,0.511170,0.529246,0.588128,0.915791,0.225628,0.809180
24,0.932529,0.294673,0.311624,0.118598,0.442229,0.138227,0.680053,0.584681,0.223017,0.123450
25,0.311565,0.326809,0.322072,0.081760,0.235670,0.955322,0.537060,0.961795,0.364879,0.535998
26,0.719827,0.889552,0.617770,0.525010,0.555179,0.279471,0.703415,0.344202,0.128280,0.582576
27,0.599852,0.934467,0.075903,0.703697,0.828886,0.873038,0.481399,0.426876,0.658662,0.884055
28,0.136705,0.113311,0.154152,0.491459,0.221055,0.870846,0.866477,0.249619,0.620621,0.800963
29,0.629306,0.671024,0.197835,0.674194,0.323691,0.751697,0.785444,0.992798,0.381137,0.944398
...,...,...,...,...,...,...,...,...,...,...
304,0.639997,0.360776,0.183009,0.198977,0.149130,0.356180,0.817442,0.048590,0.776609,0.092870
305,0.58927,0.603197,0.637612,0.864433,0.382170,0.114339,0.181940,0.753182,0.792877,0.598877
306,0.568275,0.109367,0.454129,0.346071,0.369450,0.962219,0.472524,0.902058,0.814366,0.128825
307,0.661169,0.596994,0.695589,0.879167,0.948347,0.122567,0.936240,0.463572,0.800235,0.964928
308,0.733729,0.550068,0.509226,0.542844,0.870935,0.413172,0.835674,0.881578,0.048259,0.888129
309,0.408747,0.550696,0.794030,0.527458,0.251918,0.562619,0.300534,0.242608,0.119900,0.548481
310,0.515128,0.920593,0.091853,0.561070,0.913192,0.234352,0.344265,0.881643,0.527898,0.844603
311,0.430215,0.854919,0.523752,0.948911,0.364655,0.584838,0.987961,0.144001,0.531114,0.824600
312,0.302591,0.019554,0.019125,0.416161,0.081575,0.446283,0.114503,0.985723,0.416950,0.758715
313,0.0160957,0.341985,0.828956,0.087444,0.509416,0.268980,0.429180,0.114430,0.724463,0.865533
314,0.673176,0.422355,0.968375,0.878998,0.182098,0.123865,0.886064,0.225501,0.276658,0.329023
315,0.292002,0.343370,0.310574,0.210399,0.768256,0.370978,0.427746,0.265938,0.266098,0.006386
316,0.550296,0.862538,0.622066,0.973482,0.140007,0.426074,0.840300,0.068500,0.216902,0.569946
317,0.944512,0.638851,0.580734,0.570470,0.503055,0.586443,0.398480,0.211464,0.100159,0.044069
318,0.942789,0.364218,0.576305,0.186290,0.164602,0.494762,0.435407,0.287175,0.606561,0.566951
319,0.68794,0.884077,0.844622,0.083181,0.000026,0.528950,0.376409,0.631633,0.195626,0.294018
320,0.126148,0.211724,0.909895,0.528925,0.041286,0.345846,0.027171,0.179082,0.525204,0.298118
321,0.931334,0.280787,0.883109,0.330016,0.750801,0.001989,0.382680,0.799444,0.916705,0.494207
322,0.614076,0.241768,0.878649,0.569194,0.904093,0.312884,0.041400,0.715775,0.075837,0.468404
323,0.816559,0.961586,0.143028,0.832584,0.941991,0.372984,0.114355,0.327006,0.052537,0.485774
324,0.838132,0.602797,0.268199,0.130639,0.580624,0.556103,0.005456,0.296675,0.841624,0.372918
325,0.184967,0.100629,0.235011,0.613300,0.337004,0.425956,0.625769,0.178957,0.833654,0.049451
326,0.0336943,0.058875,0.134866,0.315080,0.804269,0.600803,0.361154,0.253504,0.174206,0.546371
327,0.102663,0.393818,0.140153,0.085462,0.688251,0.380701,0.385898,0.993348,0.098027,0.242680
328,0.613623,0.714898,0.634113,0.011783,0.374797,0.224632,0.040199,0.868260,0.536426,0.360266
329,0.707034,0.520458,0.882740,0.914185,0.186707,0.082221,0.281383,0.839479,0.395898,0.798985
330,0.231014,0.676624,0.293019,0.142562,0.369378,0.537733,0.005481,0.325332,0.262239,0.701275
331,0.419118,0.528989,0.524039,0.188986,0.769157,0.606172,0.415190,0.553961,0.965689,0.449771
332,0.0997178,0.449898,0.616556,0.796935,0.113379,0.440089,0.855165,0.384123,0.704138,0.082378
333,0.874886,0.610440,0.642363,0.200234,0.754430,0.768310,0.188976,0.360978,0.126010,0.348646

In [26]:
newdf = newdf.drop(9,axis = 1)
newdf

,0,1,2,3,4,5,6,7,8
0,spain,0.094278,0.086779,0.735097,0.272778,0.900426,0.983547,0.299481,0.806722
1,0.0270862,0.685126,0.414644,0.632627,0.629372,0.403296,0.247988,0.199276,0.527079
2,0.756635,0.059583,0.420245,0.253404,0.236354,0.117977,0.761612,0.029570,0.210909
3,0.437555,0.524692,0.683549,0.386938,0.832732,0.163633,0.884114,0.755076,0.789616
4,0.710314,0.478633,0.142717,0.207126,0.906835,0.297559,0.809979,0.767891,0.962557
5,0.344712,0.559918,0.346053,0.141184,0.188609,0.174815,0.351284,0.791937,0.393838
6,0.0473669,0.075118,0.076181,0.729152,0.882200,0.975637,0.486699,0.948882,0.176174
7,0.616596,0.944884,0.461687,0.200796,0.005643,0.492140,0.003604,0.565625,0.576657
8,0.786291,0.443571,0.750982,0.461175,0.506250,0.902411,0.834819,0.159430,0.797782
9,0.687767,0.885002,0.459235,0.946388,0.034566,0.429432,0.527103,0.652078,0.573204
10,0.375546,0.596434,0.472666,0.295366,0.403724,0.350993,0.881203,0.552540,0.045175
11,0.031395,0.211436,0.899614,0.743097,0.484918,0.972639,0.364010,0.493043,0.532530
12,0.626929,0.897453,0.584754,0.383609,0.393897,0.087077,0.373185,0.220227,0.993687
13,0.236262,0.976125,0.015156,0.655401,0.916084,0.483957,0.945809,0.123183,0.762564
14,0.115791,0.083090,0.358839,0.804729,0.081121,0.748860,0.711155,0.399781,0.167770
15,0.787376,0.197503,0.437034,0.547474,0.210915,0.435102,0.711650,0.030188,0.387924
16,0.662259,0.124637,0.155750,0.586552,0.806564,0.283858,0.904126,0.093947,0.511209
17,0.180639,0.099604,0.243184,0.793296,0.725548,0.432630,0.774966,0.053560,0.060806
18,0.85707,0.707234,0.076041,0.454103,0.888677,0.114744,0.942861,0.815184,0.161897
19,0.899205,0.984603,0.009936,0.160334,0.409597,0.405004,0.583987,0.996415,0.432657
20,0.10856,0.378065,0.814615,0.749543,0.484748,0.389279,0.438566,0.637939,0.711568
21,0.542379,0.915328,0.783203,0.642466,0.777210,0.791470,0.263014,0.055400,0.003156
22,0.726084,0.535801,0.809533,0.670527,0.386591,0.400678,0.987058,0.072831,0.181972
23,0.747009,0.187243,0.210098,0.287966,0.511170,0.529246,0.588128,0.915791,0.225628
24,0.932529,0.294673,0.311624,0.118598,0.442229,0.138227,0.680053,0.584681,0.223017
25,0.311565,0.326809,0.322072,0.081760,0.235670,0.955322,0.537060,0.961795,0.364879
26,0.719827,0.889552,0.617770,0.525010,0.555179,0.279471,0.703415,0.344202,0.128280
27,0.599852,0.934467,0.075903,0.703697,0.828886,0.873038,0.481399,0.426876,0.658662
28,0.136705,0.113311,0.154152,0.491459,0.221055,0.870846,0.866477,0.249619,0.620621
29,0.629306,0.671024,0.197835,0.674194,0.323691,0.751697,0.785444,0.992798,0.381137
...,...,...,...,...,...,...,...,...,...
304,0.639997,0.360776,0.183009,0.198977,0.149130,0.356180,0.817442,0.048590,0.776609
305,0.58927,0.603197,0.637612,0.864433,0.382170,0.114339,0.181940,0.753182,0.792877
306,0.568275,0.109367,0.454129,0.346071,0.369450,0.962219,0.472524,0.902058,0.814366
307,0.661169,0.596994,0.695589,0.879167,0.948347,0.122567,0.936240,0.463572,0.800235
308,0.733729,0.550068,0.509226,0.542844,0.870935,0.413172,0.835674,0.881578,0.048259
309,0.408747,0.550696,0.794030,0.527458,0.251918,0.562619,0.300534,0.242608,0.119900
310,0.515128,0.920593,0.091853,0.561070,0.913192,0.234352,0.344265,0.881643,0.527898
311,0.430215,0.854919,0.523752,0.948911,0.364655,0.584838,0.987961,0.144001,0.531114
312,0.302591,0.019554,0.019125,0.416161,0.081575,0.446283,0.114503,0.985723,0.416950
313,0.0160957,0.341985,0.828956,0.087444,0.509416,0.268980,0.429180,0.114430,0.724463
314,0.673176,0.422355,0.968375,0.878998,0.182098,0.123865,0.886064,0.225501,0.276658
315,0.292002,0.343370,0.310574,0.210399,0.768256,0.370978,0.427746,0.265938,0.266098
316,0.550296,0.862538,0.622066,0.973482,0.140007,0.426074,0.840300,0.068500,0.216902
317,0.944512,0.638851,0.580734,0.570470,0.503055,0.586443,0.398480,0.211464,0.100159
318,0.942789,0.364218,0.576305,0.186290,0.164602,0.494762,0.435407,0.287175,0.606561
319,0.68794,0.884077,0.844622,0.083181,0.000026,0.528950,0.376409,0.631633,0.195626
320,0.126148,0.211724,0.909895,0.528925,0.041286,0.345846,0.027171,0.179082,0.525204
321,0.931334,0.280787,0.883109,0.330016,0.750801,0.001989,0.382680,0.799444,0.916705
322,0.614076,0.241768,0.878649,0.569194,0.904093,0.312884,0.041400,0.715775,0.075837
323,0.816559,0.961586,0.143028,0.832584,0.941991,0.372984,0.114355,0.327006,0.052537
324,0.838132,0.602797,0.268199,0.130639,0.580624,0.556103,0.005456,0.296675,0.841624
325,0.184967,0.100629,0.235011,0.613300,0.337004,0.425956,0.625769,0.178957,0.833654
326,0.0336943,0.058875,0.134866,0.315080,0.804269,0.600803,0.361154,0.253504,0.174206
327,0.102663,0.393818,0.140153,0.085462,0.688251,0.380701,0.385898,0.993348,0.098027
328,0.613623,0.714898,0.634113,0.011783,0.374797,0.224632,0.040199,0.868260,0.536426
329,0.707034,0.520458,0.882740,0.914185,0.186707,0.082221,0.281383,0.839479,0.395898
330,0.231014,0.676624,0.293019,0.142562,0.369378,0.537733,0.005481,0.325332,0.262239
331,0.419118,0.528989,0.524039,0.188986,0.769157,0.606172,0.415190,0.553961,0.965689
332,0.0997178,0.449898,0.616556,0.796935,0.113379,0.440089,0.855165,0.384123,0.704138
333,0.874886,0.610440,0.642363,0.200234,0.754430,0.768310,0.188976,0.360978,0.126010

In [27]:
data

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
0,0,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 06:20,29-05-2019 09:16,AV City,38.55,Turista,Promo
1,1,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 07:00,29-05-2019 09:32,AVE,53.40,Turista,Promo
2,2,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 07:30,29-05-2019 09:51,AVE,47.30,Turista,Promo
3,3,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 08:00,29-05-2019 10:32,AVE,69.40,Preferente,Promo
4,4,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 08:30,29-05-2019 11:14,ALVIA,NaN,Turista,Promo
5,5,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 09:00,29-05-2019 11:38,AVE,60.30,Turista,Promo
6,6,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 09:45,29-05-2019 12:27,INTERCITY,62.20,Turista,Flexible
7,7,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 10:00,29-05-2019 12:32,AVE,47.30,Turista,Promo
8,8,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 11:00,29-05-2019 13:32,AVE,53.40,Turista,Promo
9,9,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 11:05,29-05-2019 13:41,ALVIA,NaN,Turista,Promo
10,10,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 12:00,29-05-2019 14:32,AVE,53.40,Turista,Promo
11,11,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 13:00,29-05-2019 15:40,AVE,53.40,Turista,Promo
12,12,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 13:30,29-05-2019 16:05,ALVIA,NaN,Turista,Promo
13,13,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 14:00,29-05-2019 16:32,AVE,60.30,Turista,Promo
14,14,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 15:00,29-05-2019 17:21,AVE,60.30,Turista,Promo
15,15,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 16:00,29-05-2019 18:30,AVE,60.30,Turista,Promo
16,16,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 16:30,29-05-2019 18:51,AVE,76.30,Turista,Flexible
17,17,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 17:00,29-05-2019 19:38,AVE,76.30,Turista,Flexible
18,18,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 18:00,29-05-2019 20:32,AVE,76.30,Turista,Flexible
19,19,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 18:35,29-05-2019 21:08,ALVIA,67.20,Turista,Flexible
20,20,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 19:00,29-05-2019 21:38,AVE,76.30,ireland,Flexible
21,21,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 19:30,29-05-2019 22:05,AVE,60.30,Turista,Promo
22,22,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 20:35,29-05-2019 23:15,AVE,53.40,Turista,Promo
23,23,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 21:25,30-05-2019 00:10,AV City,43.55,Turista,Promo
24,24,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 06:20,23-04-2019 09:16,AV City,43.55,Turista,Promo
25,25,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 07:00,23-04-2019 09:32,AVE,76.30,Turista,Flexible
26,26,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 07:30,23-04-2019 09:51,AVE,76.30,Turista,Flexible
27,27,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 08:00,23-04-2019 10:32,AVE,76.30,Turista,Flexible
28,28,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 08:30,23-04-2019 11:14,ALVIA,NaN,Turista,Flexible
29,29,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 09:00,23-04-2019 11:38,AVE,76.30,Turista,Flexible
...,...,...,...,...,...,...,...,...,...,...
1048545,1048545,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 15:00,28-05-2019 17:21,AVE,47.30,Turista,Promo
1048546,1048546,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 16:00,28-05-2019 18:30,AVE,69.40,Preferente,Promo
1048547,1048547,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 16:30,28-05-2019 18:51,AVE,47.30,Turista,Promo
1048548,1048548,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 17:00,28-05-2019 19:38,AVE,53.40,Turista,Promo
1048549,1048549,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 18:00,28-05-2019 20:32,AVE,76.30,Turista,Flexible
1048550,1048550,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 18:35,28-05-2019 21:08,ALVIA,67.20,Turista,Flexible
1048551,1048551,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 19:00,28-05-2019 21:38,AVE,76.30,Turista,Flexible
1048552,1048552,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 20:35,28-05-2019 23:15,AVE,47.30,Turista,Promo
1048553,1048553,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 21:25,29-05-2019 00:10,AV City,43.55,Turista,Promo
1048554,1048554,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 06:20,17-05-2019 09:16,AV City,49.15,Turista,Promo
1048555,1048555,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 07:00,17-05-2019 09:32,AVE,76.30,Turista,Flexible
1048556,1048556,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 08:00,17-05-2019 10:32,AVE,76.30,Turista,Flexible
1048557,1048557,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 08:30,17-05-2019 11:14,ALVIA,NaN,Turista,Flexible
1048558,1048558,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 09:00,17-05-2019 11:38,AVE,76.30,Turista,Flexible
1048559,1048559,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 09:45,17-05-2019 12:27,INTERCITY,62.20,Turista,Flexible
1048560,1048560,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 10:00,17-05-2019 12:32,AVE,76.30,Turista,Flexible
1048561,1048561,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 11:00,17-05-2019 13:32,AVE,76.30,Turista,Flexible
1048562,1048562,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 11:05,17-05-2019 13:41,ALVIA,NaN,Turista,Flexible
1048563,1048563,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 12:00,17-05-2019 14:32,AVE,76.30,Turista,Flexible
1048564,1048564,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 13:00,17-05-2019 15:40,AVE,76.30,Turista,Flexible
1048565,1048565,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 13:10,17-05-2019 20:51,MD-LD,34.35,Turista con enlace,Promo +
1048566,1048566,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 13:30,17-05-2019 16:05,ALVIA,NaN,Preferente,Promo
1048567,1048567,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 14:00,17-05-2019 16:32,AVE,101.50,Preferente,Promo
1048568,1048568,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 15:00,17-05-2019 17:21,AVE,76.30,Turista,Flexible
1048569,1048569,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 16:00,17-05-2019 18:30,AVE,76.30,Turista,Flexible
1048570,1048570,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 16:30,17-05-2019 18:55,AVE,76.30,Turista,Flexible
1048571,1048571,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 17:00,17-05-2019 19:38,AVE,NaN,Turista,Flexible
1048572,1048572,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 18:00,17-05-2019 20:32,AVE,76.30,Turista,Flexible
1048573,1048573,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 18:35,17-05-2019 21:08,ALVIA,NaN,Preferente,Flexible
1048574,1048574,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 19:00,17-05-2019 21:38,AVE,128.50,Preferente,Flexible

In [28]:
data.loc[[7865,2], :]

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
7865,7865,19-04-2019 07:03,BARCELONA,MADRID,22-04-2019 15:25,22-04-2019 17:55,AVE,127.1,Turista,Flexible
2,2,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 07:30,29-05-2019 09:51,AVE,47.3,Turista,Promo

In [29]:
data.loc[: , ['destination','price']].head(10)

  destination  price
0     SEVILLA  38.55
1     SEVILLA  53.40
2     SEVILLA  47.30
3     SEVILLA  69.40
4     SEVILLA    NaN
5     SEVILLA  60.30
6     SEVILLA  62.20
7     SEVILLA  47.30
8     SEVILLA  53.40
9     SEVILLA    NaN

In [30]:
data.loc[(data['price']<50)]

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
0,0,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 06:20,29-05-2019 09:16,AV City,38.55,Turista,Promo
2,2,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 07:30,29-05-2019 09:51,AVE,47.30,Turista,Promo
7,7,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 10:00,29-05-2019 12:32,AVE,47.30,Turista,Promo
23,23,19-04-2019 05:31,MADRID,SEVILLA,29-05-2019 21:25,30-05-2019 00:10,AV City,43.55,Turista,Promo
24,24,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 06:20,23-04-2019 09:16,AV City,43.55,Turista,Promo
35,35,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 13:00,23-04-2019 15:40,AVE,47.30,Turista,Promo
36,36,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 13:10,23-04-2019 20:51,MD-LD,34.35,Turista con enlace,Promo +
46,46,19-04-2019 05:31,MADRID,SEVILLA,23-04-2019 21:25,24-04-2019 00:10,AV City,38.55,Turista,Promo
47,47,19-04-2019 05:32,MADRID,SEVILLA,26-05-2019 07:00,26-05-2019 09:55,AV City,43.55,Turista,Promo
65,65,19-04-2019 05:32,MADRID,SEVILLA,26-05-2019 20:35,26-05-2019 23:15,AVE,47.30,Turista,Promo
66,66,19-04-2019 05:32,MADRID,SEVILLA,26-05-2019 21:25,27-05-2019 00:10,AV City,43.55,Turista,Promo
67,67,19-04-2019 05:32,SEVILLA,MADRID,28-05-2019 06:10,28-05-2019 08:58,AV City,43.55,Turista,Promo
75,75,19-04-2019 05:32,SEVILLA,MADRID,28-05-2019 11:45,28-05-2019 14:17,AVE,47.30,Turista,Promo
77,77,19-04-2019 05:32,SEVILLA,MADRID,28-05-2019 12:40,28-05-2019 15:23,AVE,47.30,Turista,Promo
78,78,19-04-2019 05:32,SEVILLA,MADRID,28-05-2019 13:40,28-05-2019 16:10,AVE,47.30,Turista,Promo
79,79,19-04-2019 05:32,SEVILLA,MADRID,28-05-2019 14:45,28-05-2019 17:15,AVE,47.30,Turista,Promo
80,80,19-04-2019 05:32,SEVILLA,MADRID,28-05-2019 14:58,28-05-2019 17:50,ALVIA,47.05,Turista,Promo
87,87,19-04-2019 05:32,SEVILLA,MADRID,28-05-2019 19:45,28-05-2019 22:17,AVE,47.30,Turista,Promo
89,89,19-04-2019 05:32,SEVILLA,MADRID,28-05-2019 21:00,28-05-2019 23:52,AV City,38.55,Turista,Promo
112,112,19-04-2019 05:32,SEVILLA,MADRID,25-05-2019 07:00,25-05-2019 10:02,AV City,49.15,Turista,Promo
128,128,19-04-2019 05:32,SEVILLA,MADRID,25-05-2019 21:00,25-05-2019 23:52,AV City,49.15,Turista,Promo
129,129,19-04-2019 05:32,SEVILLA,MADRID,24-05-2019 06:10,24-05-2019 08:58,AV City,49.15,Turista,Promo
139,139,19-04-2019 05:32,SEVILLA,MADRID,24-05-2019 13:40,24-05-2019 16:10,AVE,47.30,Turista,Promo
146,146,19-04-2019 05:32,SEVILLA,MADRID,24-05-2019 18:45,24-05-2019 21:17,AVE,47.30,Turista,Promo
152,152,19-04-2019 05:32,SEVILLA,MADRID,24-05-2019 21:00,24-05-2019 23:52,AV City,49.15,Turista,Promo
153,153,19-04-2019 05:32,SEVILLA,MADRID,23-05-2019 06:10,23-05-2019 08:58,AV City,43.55,Turista,Promo
155,155,19-04-2019 05:32,SEVILLA,MADRID,23-05-2019 07:15,23-05-2019 09:55,AVE,47.30,Turista,Promo
158,158,19-04-2019 05:32,SEVILLA,MADRID,23-05-2019 09:40,23-05-2019 12:23,AVE,47.30,Turista,Promo
160,160,19-04-2019 05:32,SEVILLA,MADRID,23-05-2019 10:45,23-05-2019 13:17,AVE,47.30,Turista,Promo
161,161,19-04-2019 05:32,SEVILLA,MADRID,23-05-2019 11:45,23-05-2019 14:17,AVE,47.30,Turista,Promo
...,...,...,...,...,...,...,...,...,...,...
1048416,1048416,30-04-2019 03:09,MADRID,VALENCIA,01-06-2019 17:40,01-06-2019 19:20,AVE,39.45,Turista,Promo
1048417,1048417,30-04-2019 03:09,MADRID,VALENCIA,01-06-2019 19:40,01-06-2019 21:29,AVE,45.30,Turista,Promo
1048418,1048418,30-04-2019 03:09,MADRID,VALENCIA,01-06-2019 21:10,01-06-2019 23:03,AVE,33.65,Turista,Promo
1048419,1048419,30-04-2019 03:09,MADRID,SEVILLA,02-06-2019 07:00,02-06-2019 09:55,AV City,49.15,Turista,Promo
1048426,1048426,30-04-2019 03:09,MADRID,SEVILLA,02-06-2019 13:10,02-06-2019 20:51,MD-LD,34.35,Turista con enlace,Promo +
1048440,1048440,30-04-2019 03:10,MADRID,SEVILLA,31-05-2019 06:20,31-05-2019 09:16,AV City,43.55,Turista,Promo
1048451,1048451,30-04-2019 03:10,MADRID,SEVILLA,31-05-2019 13:10,31-05-2019 20:51,MD-LD,34.35,Turista con enlace,Promo +
1048474,1048474,30-04-2019 03:10,MADRID,SEVILLA,01-06-2019 13:10,01-06-2019 20:51,MD-LD,34.35,Turista con enlace,Promo +
1048478,1048478,30-04-2019 03:10,MADRID,SEVILLA,01-06-2019 17:00,01-06-2019 19:38,AVE,47.30,Turista,Promo
1048479,1048479,30-04-2019 03:10,MADRID,SEVILLA,01-06-2019 18:00,01-06-2019 20:32,AVE,47.30,Turista,Promo
1048480,1048480,30-04-2019 03:10,MADRID,SEVILLA,01-06-2019 19:00,01-06-2019 21:38,AVE,47.30,Turista,Promo
1048481,1048481,30-04-2019 03:10,MADRID,SEVILLA,01-06-2019 20:35,01-06-2019 23:15,AVE,47.30,Turista,Promo
1048492,1048492,30-04-2019 03:10,MADRID,SEVILLA,03-05-2019 13:10,03-05-2019 20:51,MD-LD,45.80,Turista con enlace,Flexible
1048505,1048505,30-04-2019 03:10,MADRID,SEVILLA,29-05-2019 06:20,29-05-2019 09:16,AV City,38.55,Turista,Promo
1048507,1048507,30-04-2019 03:10,MADRID,SEVILLA,29-05-2019 07:30,29-05-2019 09:51,AVE,47.30,Turista,Promo
1048517,1048517,30-04-2019 03:10,MADRID,SEVILLA,29-05-2019 13:10,29-05-2019 20:51,MD-LD,34.35,Turista con enlace,Promo +
1048529,1048529,30-04-2019 03:10,MADRID,SEVILLA,29-05-2019 21:25,30-05-2019 00:10,AV City,43.55,Turista,Promo
1048530,1048530,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 06:20,28-05-2019 09:16,AV City,38.55,Turista,Promo
1048532,1048532,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 07:30,28-05-2019 09:51,AVE,47.30,Turista,Promo
1048538,1048538,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 11:00,28-05-2019 13:32,AVE,47.30,Turista,Promo
1048540,1048540,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 12:00,28-05-2019 14:32,AVE,47.30,Turista,Promo
1048541,1048541,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 13:00,28-05-2019 15:40,AVE,47.30,Turista,Promo
1048542,1048542,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 13:10,28-05-2019 20:51,MD-LD,34.35,Turista con enlace,Promo +
1048544,1048544,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 14:00,28-05-2019 16:32,AVE,47.30,Turista,Promo
1048545,1048545,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 15:00,28-05-2019 17:21,AVE,47.30,Turista,Promo
1048547,1048547,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 16:30,28-05-2019 18:51,AVE,47.30,Turista,Promo
1048552,1048552,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 20:35,28-05-2019 23:15,AVE,47.30,Turista,Promo
1048553,1048553,30-04-2019 03:10,MADRID,SEVILLA,28-05-2019 21:25,29-05-2019 00:10,AV City,43.55,Turista,Promo
1048554,1048554,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 06:20,17-05-2019 09:16,AV City,49.15,Turista,Promo
1048565,1048565,30-04-2019 03:11,MADRID,SEVILLA,17-05-2019 13:10,17-05-2019 20:51,MD-LD,34.35,Turista con enlace,Promo +

In [35]:
newdf.loc[(newdf[5]<10) & (newdf[7]>0.1)]

,0,1,2,3,4,5,6,7,8
0,spain,0.094278,0.086779,0.735097,0.272778,0.900426,0.983547,0.299481,0.806722
1,0.0270862,0.685126,0.414644,0.632627,0.629372,0.403296,0.247988,0.199276,0.527079
3,0.437555,0.524692,0.683549,0.386938,0.832732,0.163633,0.884114,0.755076,0.789616
4,0.710314,0.478633,0.142717,0.207126,0.906835,0.297559,0.809979,0.767891,0.962557
5,0.344712,0.559918,0.346053,0.141184,0.188609,0.174815,0.351284,0.791937,0.393838
6,0.0473669,0.075118,0.076181,0.729152,0.882200,0.975637,0.486699,0.948882,0.176174
7,0.616596,0.944884,0.461687,0.200796,0.005643,0.492140,0.003604,0.565625,0.576657
8,0.786291,0.443571,0.750982,0.461175,0.506250,0.902411,0.834819,0.159430,0.797782
9,0.687767,0.885002,0.459235,0.946388,0.034566,0.429432,0.527103,0.652078,0.573204
10,0.375546,0.596434,0.472666,0.295366,0.403724,0.350993,0.881203,0.552540,0.045175
11,0.031395,0.211436,0.899614,0.743097,0.484918,0.972639,0.364010,0.493043,0.532530
12,0.626929,0.897453,0.584754,0.383609,0.393897,0.087077,0.373185,0.220227,0.993687
13,0.236262,0.976125,0.015156,0.655401,0.916084,0.483957,0.945809,0.123183,0.762564
14,0.115791,0.083090,0.358839,0.804729,0.081121,0.748860,0.711155,0.399781,0.167770
18,0.85707,0.707234,0.076041,0.454103,0.888677,0.114744,0.942861,0.815184,0.161897
19,0.899205,0.984603,0.009936,0.160334,0.409597,0.405004,0.583987,0.996415,0.432657
20,0.10856,0.378065,0.814615,0.749543,0.484748,0.389279,0.438566,0.637939,0.711568
23,0.747009,0.187243,0.210098,0.287966,0.511170,0.529246,0.588128,0.915791,0.225628
24,0.932529,0.294673,0.311624,0.118598,0.442229,0.138227,0.680053,0.584681,0.223017
25,0.311565,0.326809,0.322072,0.081760,0.235670,0.955322,0.537060,0.961795,0.364879
26,0.719827,0.889552,0.617770,0.525010,0.555179,0.279471,0.703415,0.344202,0.128280
27,0.599852,0.934467,0.075903,0.703697,0.828886,0.873038,0.481399,0.426876,0.658662
28,0.136705,0.113311,0.154152,0.491459,0.221055,0.870846,0.866477,0.249619,0.620621
29,0.629306,0.671024,0.197835,0.674194,0.323691,0.751697,0.785444,0.992798,0.381137
30,0.921264,0.239211,0.006632,0.101777,0.728909,0.965901,0.611902,0.117401,0.860503
31,0.60233,0.422760,0.393017,0.269787,0.515178,0.948394,0.460838,0.835248,0.265284
32,0.809309,0.256426,0.370538,0.045460,0.699182,0.752068,0.038874,0.187490,0.600877
33,0.463504,0.402980,0.061920,0.965990,0.651701,0.462267,0.604879,0.486804,0.327207
34,0.233708,0.627433,0.639224,0.631211,0.675319,0.207197,0.592060,0.507838,0.666206
35,0.144424,0.903989,0.016470,0.536401,0.020234,0.109751,0.226271,0.265658,0.454509
...,...,...,...,...,...,...,...,...,...
302,0.641557,0.644653,0.803590,0.505172,0.225286,0.798835,0.267772,0.675195,0.607802
303,0.283315,0.004334,0.501728,0.717940,0.564673,0.552879,0.344750,0.291720,0.555427
305,0.58927,0.603197,0.637612,0.864433,0.382170,0.114339,0.181940,0.753182,0.792877
306,0.568275,0.109367,0.454129,0.346071,0.369450,0.962219,0.472524,0.902058,0.814366
307,0.661169,0.596994,0.695589,0.879167,0.948347,0.122567,0.936240,0.463572,0.800235
308,0.733729,0.550068,0.509226,0.542844,0.870935,0.413172,0.835674,0.881578,0.048259
309,0.408747,0.550696,0.794030,0.527458,0.251918,0.562619,0.300534,0.242608,0.119900
310,0.515128,0.920593,0.091853,0.561070,0.913192,0.234352,0.344265,0.881643,0.527898
311,0.430215,0.854919,0.523752,0.948911,0.364655,0.584838,0.987961,0.144001,0.531114
312,0.302591,0.019554,0.019125,0.416161,0.081575,0.446283,0.114503,0.985723,0.416950
313,0.0160957,0.341985,0.828956,0.087444,0.509416,0.268980,0.429180,0.114430,0.724463
314,0.673176,0.422355,0.968375,0.878998,0.182098,0.123865,0.886064,0.225501,0.276658
315,0.292002,0.343370,0.310574,0.210399,0.768256,0.370978,0.427746,0.265938,0.266098
317,0.944512,0.638851,0.580734,0.570470,0.503055,0.586443,0.398480,0.211464,0.100159
318,0.942789,0.364218,0.576305,0.186290,0.164602,0.494762,0.435407,0.287175,0.606561
319,0.68794,0.884077,0.844622,0.083181,0.000026,0.528950,0.376409,0.631633,0.195626
320,0.126148,0.211724,0.909895,0.528925,0.041286,0.345846,0.027171,0.179082,0.525204
321,0.931334,0.280787,0.883109,0.330016,0.750801,0.001989,0.382680,0.799444,0.916705
322,0.614076,0.241768,0.878649,0.569194,0.904093,0.312884,0.041400,0.715775,0.075837
323,0.816559,0.961586,0.143028,0.832584,0.941991,0.372984,0.114355,0.327006,0.052537
324,0.838132,0.602797,0.268199,0.130639,0.580624,0.556103,0.005456,0.296675,0.841624
325,0.184967,0.100629,0.235011,0.613300,0.337004,0.425956,0.625769,0.178957,0.833654
326,0.0336943,0.058875,0.134866,0.315080,0.804269,0.600803,0.361154,0.253504,0.174206
327,0.102663,0.393818,0.140153,0.085462,0.688251,0.380701,0.385898,0.993348,0.098027
328,0.613623,0.714898,0.634113,0.011783,0.374797,0.224632,0.040199,0.868260,0.536426
329,0.707034,0.520458,0.882740,0.914185,0.186707,0.082221,0.281383,0.839479,0.395898
330,0.231014,0.676624,0.293019,0.142562,0.369378,0.537733,0.005481,0.325332,0.262239
331,0.419118,0.528989,0.524039,0.188986,0.769157,0.606172,0.415190,0.553961,0.965689
332,0.0997178,0.449898,0.616556,0.796935,0.113379,0.440089,0.855165,0.384123,0.704138
333,0.874886,0.610440,0.642363,0.200234,0.754430,0.768310,0.188976,0.360978,0.126010

In [36]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 333
Data columns (total 9 columns):
0    334 non-null object
1    334 non-null float64
2    334 non-null float64
3    334 non-null float64
4    334 non-null float64
5    334 non-null float64
6    334 non-null float64
7    334 non-null float64
8    334 non-null float64
dtypes: float64(8), object(1)
memory usage: 32.8+ KB

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
Unnamed: 0     1048575 non-null int64
insert_date    1048575 non-null object
origin         1048575 non-null object
destination    1048575 non-null object
start_date     1048575 non-null object
end_date       1048575 non-null object
train_type     1048575 non-null object
price          975097 non-null float64
train_class    1045288 non-null object
fare           1045288 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 48.0+ MB

In [40]:
data['price'].value_counts(dropna = True)

76.30     71939
28.35     61939
85.10     49364
75.40     35367
60.30     33244
107.70    31325
66.75     29185
47.30     26963
33.65     26080
53.40     25854
57.75     24059
45.30     23802
39.45     23090
69.40     22935
100.40    22798
51.15     19566
21.95     17451
90.50     17074
78.80     17006
27.80     16981
58.15     15984
88.95     15689
66.55     14976
34.35     13942
62.20     13774
102.15    13534
43.25     13516
80.15     12886
73.10     11498
98.00     10274
          ...
206.80       44
41.20        42
48.30        42
98.01        37
35.10        36
172.40       33
68.63        24
87.70        18
49.54        18
64.40        11
51.35        10
51.50        10
112.53        8
66.53         7
75.15         6
58.50         6
59.48         5
54.35         4
88.97         4
22.90         3
28.20         3
105.00        3
24.95         3
29.80         3
21.30         3
115.67        2
16.75         1
26.65         1
43.20         1
85.15         1
Name: price, Length: 202, dtype: int64

In [41]:
data.notnull()

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,False,True,True
5,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,False,True,True
10,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,False,True,True
13,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,False,True,True
29,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
1048545,True,True,True,True,True,True,True,True,True,True
1048546,True,True,True,True,True,True,True,True,True,True
1048547,True,True,True,True,True,True,True,True,True,True
1048548,True,True,True,True,True,True,True,True,True,True
1048549,True,True,True,True,True,True,True,True,True,True
1048550,True,True,True,True,True,True,True,True,True,True
1048551,True,True,True,True,True,True,True,True,True,True
1048552,True,True,True,True,True,True,True,True,True,True
1048553,True,True,True,True,True,True,True,True,True,True
1048554,True,True,True,True,True,True,True,True,True,True
1048555,True,True,True,True,True,True,True,True,True,True
1048556,True,True,True,True,True,True,True,True,True,True
1048557,True,True,True,True,True,True,True,False,True,True
1048558,True,True,True,True,True,True,True,True,True,True
1048559,True,True,True,True,True,True,True,True,True,True
1048560,True,True,True,True,True,True,True,True,True,True
1048561,True,True,True,True,True,True,True,True,True,True
1048562,True,True,True,True,True,True,True,False,True,True
1048563,True,True,True,True,True,True,True,True,True,True
1048564,True,True,True,True,True,True,True,True,True,True
1048565,True,True,True,True,True,True,True,True,True,True
1048566,True,True,True,True,True,True,True,False,True,True
1048567,True,True,True,True,True,True,True,True,True,True
1048568,True,True,True,True,True,True,True,True,True,True
1048569,True,True,True,True,True,True,True,True,True,True
1048570,True,True,True,True,True,True,True,True,True,True
1048571,True,True,True,True,True,True,True,False,True,True
1048572,True,True,True,True,True,True,True,True,True,True
1048573,True,True,True,True,True,True,True,False,True,True
1048574,True,True,True,True,True,True,True,True,True,True

In [45]:
data.corr()

            Unnamed: 0     price
Unnamed: 0    1.000000 -0.014211
price        -0.014211  1.000000

In [46]:
newdf.corr()

,1,2,3,4,5,6,7,8
1,1.000000,0.010036,0.075164,-0.013953,0.013977,-0.061700,-0.010668,-0.001802
2,0.010036,1.000000,0.013138,-0.002131,-0.105308,0.004102,-0.078229,0.048555
3,0.075164,0.013138,1.000000,0.093860,0.029756,0.016746,-0.023320,-0.070091
4,-0.013953,-0.002131,0.093860,1.000000,-0.062952,-0.023565,0.079335,0.114741
5,0.013977,-0.105308,0.029756,-0.062952,1.000000,-0.048837,0.058916,0.077212
6,-0.061700,0.004102,0.016746,-0.023565,-0.048837,1.000000,0.037509,0.003298
7,-0.010668,-0.078229,-0.023320,0.079335,0.058916,0.037509,1.000000,-0.013335
8,-0.001802,0.048555,-0.070091,0.114741,0.077212,0.003298,-0.013335,1.000000