In [1]:
# We can iterate over a list using a for loop
employees = ['Nick', 'Lore', 'Hugo']
for item in employees:
    print(item)

Nick
Lore
Hugo

In [2]:
# We can iterate over a string using a for loop
for letter in ('ASTROLOGY'):
    print(letter)

A
S
T
R
O
L
O
G
Y

In [3]:
word = 'POLYMORPHISIM'
it = iter(word)
print(next(it))
print(next(it))
# this goes upto the last character of word

P
O

In [4]:
# Iterating at once with *
word = 'encapsulation'
it = iter(word)
print(*it)
print(word.upper())

e n c a p s u l a t i o n
ENCAPSULATION

In [5]:
# Iterating over dictionaries
pythonistas = {'hugo': 'bowne-anderson', 'francis':'castro'}
for key, value in pythonistas.items():
    print(key, value)

hugo bowne-anderson
francis castro

In [6]:
# Using enumerate()
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver','hulk','black-widow','scarlet witch','vision','thanos','rocket','spider man']
e = enumerate(avengers)
print(type(e))
e_list = list(e)
print(e_list)

<class 'enumerate'>
[(0, 'hawkeye'), (1, 'iron man'), (2, 'thor'), (3, 'quicksilver'), (4, 'hulk'), (5, 'black-widow'), (6, 'scarlet witch'), (7, 'vision'), (8, 'thanos'), (9, 'rocket'), (10, 'spider man')]

In [7]:
for index,value in enumerate(avengers):
    print(index,value)

0 hawkeye
1 iron man
2 thor
3 quicksilver
4 hulk
5 black-widow
6 scarlet witch
7 vision
8 thanos
9 rocket
10 spider man

In [8]:
# Using zip()
names = ['barton', 'stark', 'odinson', 'maximoff','mark ruffalo','scarlet jhonson','elizabeth olsen0','paul bettany','josh brolin','racoon','tom holland']
z = zip(avengers, names)
print(type(z))
z_list = list(z)
print(z_list)

<class 'zip'>
[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff'), ('hulk', 'mark ruffalo'), ('black-widow', 'scarlet jhonson'), ('scarlet witch', 'elizabeth olsen0'), ('vision', 'paul bettany'), ('thanos', 'josh brolin'), ('rocket', 'racoon'), ('spider man', 'tom holland')]

In [9]:
# Print zip with *
z = zip(avengers, names)
print(*z)

('hawkeye', 'barton') ('iron man', 'stark') ('thor', 'odinson') ('quicksilver', 'maximoff') ('hulk', 'mark ruffalo') ('black-widow', 'scarlet jhonson') ('scarlet witch', 'elizabeth olsen0') ('vision', 'paul bettany') ('thanos', 'josh brolin') ('rocket', 'racoon') ('spider man', 'tom holland')

In [10]:
pwd

'C:\\Users\\user\\OneDrive\\Desktop\\scatter-plotter\\Datacamp'

In [11]:
cd C:\\Users\\user\\OneDrive\\Desktop\\CSV files

C:\Users\user\OneDrive\Desktop\CSV files

In [12]:
# iterating over data
import pandas as pd

In [13]:
result = []
for chunk in pd.read_csv('sales1.csv',chunksize = 1000):
    result.append(sum(chunk['Units']))
total = sum(result)
print(total)

175

In [14]:
# list comprehension
# populate a list with for loop
nums = [12, 8, 21, 3, 16]
new_nums = []
for num in nums:
    new_nums.append(num+1)
print(new_nums)

[13, 9, 22, 4, 17]

In [15]:
# another way
new_nums = [num + 1 for num in nums]
print(new_nums)

[13, 9, 22, 4, 17]

In [16]:
# list comprehension with range
result = [num for num in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# conditionals in comprehension
[num ** 2 if num % 2 == 0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [19]:
# dict comprehension
pos_neg = {num: -num for num in range(9)}
print(pos_neg)

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}

In [20]:
# generators
[2 * num for num in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]