In [1]:
pwd

'C:\\Users\\user\\OneDrive\\Desktop\\scatter-plotter\\Datacamp'

In [2]:
cd C:\\Users\\user\\OneDrive\\Desktop\\CSV files

C:\Users\user\OneDrive\Desktop\CSV files

In [3]:
# loading separate file
import pandas as pd
dataframe0 = pd.read_csv('sales-jan-2015.csv')
dataframe1 = pd.read_csv('sales-feb-2015.csv')
dataframe0

                Date          Company   Product  Units
0   21-01-2015 19:13        Streeplex  Hardware     11
1   09-01-2015 05:23        Streeplex   Service      8
2   06-01-2015 17:19          Initech  Hardware     17
3   02-01-2015 09:51            Hooli  Hardware     16
4   11-01-2015 14:51            Hooli  Hardware     11
5   01-01-2015 07:31  Acme Coporation  Software     18
6   24-01-2015 08:01          Initech  Software      1
7   25-01-2015 15:40          Initech   Service      6
8   13-01-2015 05:36            Hooli   Service      7
9   03-01-2015 18:00            Hooli   Service     19
10  16-01-2015 00:33            Hooli  Hardware     17
11  16-01-2015 07:21          Initech   Service     13
12  20-01-2015 19:49  Acme Coporation  Hardware     12
13  26-01-2015 01:50  Acme Coporation  Software     14
14  15-01-2015 02:38  Acme Coporation   Service     16
15  06-01-2015 13:47  Acme Coporation  Software     16
16  15-01-2015 15:33        Mediacore  Hardware      7
17  27-01-2015 07:11        Streeplex   Service     18
18  20-01-2015 11:28        Streeplex  Software     13
19  16-01-2015 19:20        Mediacore   Service      8

In [4]:
dataframe1

                   Date          Company   Product  Units
0   2015-02-26 08:57:45        Streeplex   Service      4
1   2015-02-16 12:09:19            Hooli  Software     10
2   2015-02-03 14:14:18          Initech  Software     13
3   2015-02-02 08:33:01            Hooli  Software      3
4   2015-02-25 00:29:00          Initech   Service     10
5   2015-02-05 01:53:06  Acme Coporation  Software     19
6   2015-02-09 08:57:30        Streeplex   Service     19
7   2015-02-11 20:03:08          Initech  Software      7
8   2015-02-04 21:52:45  Acme Coporation  Hardware     14
9   2015-02-09 13:09:55        Mediacore  Software      7
10  2015-02-07 22:58:10  Acme Coporation  Hardware      1
11  2015-02-11 22:50:44            Hooli  Software      4
12  2015-02-26 08:58:51        Streeplex   Service      1
13  2015-02-05 22:05:03            Hooli   Service     10
14  2015-02-04 15:36:29        Streeplex  Software     13
15  2015-02-19 16:02:58        Mediacore   Service     10
16  2015-02-19 10:59:33        Mediacore  Hardware     16
17  2015-02-02 20:54:49        Mediacore  Hardware      9
18  2015-02-21 05:01:26        Mediacore  Software      3
19  2015-02-21 20:41:47            Hooli  Hardware      3

In [5]:
# using a loop to call file
filenames = ['sales-jan-2015.csv', 'sales-feb-2015.csv']
dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))
    
print(dataframes[0].head(7))

               Date          Company   Product  Units
0  21-01-2015 19:13        Streeplex  Hardware     11
1  09-01-2015 05:23        Streeplex   Service      8
2  06-01-2015 17:19          Initech  Hardware     17
3  02-01-2015 09:51            Hooli  Hardware     16
4  11-01-2015 14:51            Hooli  Hardware     11
5  01-01-2015 07:31  Acme Coporation  Software     18
6  24-01-2015 08:01          Initech  Software      1

In [6]:
# using comprehension
filenames = ['sales-jan-2015.csv', 'sales-feb-2015.csv']
dataframes = [pd.read_csv(filename) for filename in filenames]
dataframes

[                Date          Company   Product  Units
 0   21-01-2015 19:13        Streeplex  Hardware     11
 1   09-01-2015 05:23        Streeplex   Service      8
 2   06-01-2015 17:19          Initech  Hardware     17
 3   02-01-2015 09:51            Hooli  Hardware     16
 4   11-01-2015 14:51            Hooli  Hardware     11
 5   01-01-2015 07:31  Acme Coporation  Software     18
 6   24-01-2015 08:01          Initech  Software      1
 7   25-01-2015 15:40          Initech   Service      6
 8   13-01-2015 05:36            Hooli   Service      7
 9   03-01-2015 18:00            Hooli   Service     19
 10  16-01-2015 00:33            Hooli  Hardware     17
 11  16-01-2015 07:21          Initech   Service     13
 12  20-01-2015 19:49  Acme Coporation  Hardware     12
 13  26-01-2015 01:50  Acme Coporation  Software     14
 14  15-01-2015 02:38  Acme Coporation   Service     16
 15  06-01-2015 13:47  Acme Coporation  Software     16
 16  15-01-2015 15:33        Mediacore  Hardware      7
 17  27-01-2015 07:11        Streeplex   Service     18
 18  20-01-2015 11:28        Streeplex  Software     13
 19  16-01-2015 19:20        Mediacore   Service      8,
                    Date          Company   Product  Units
 0   2015-02-26 08:57:45        Streeplex   Service      4
 1   2015-02-16 12:09:19            Hooli  Software     10
 2   2015-02-03 14:14:18          Initech  Software     13
 3   2015-02-02 08:33:01            Hooli  Software      3
 4   2015-02-25 00:29:00          Initech   Service     10
 5   2015-02-05 01:53:06  Acme Coporation  Software     19
 6   2015-02-09 08:57:30        Streeplex   Service     19
 7   2015-02-11 20:03:08          Initech  Software      7
 8   2015-02-04 21:52:45  Acme Coporation  Hardware     14
 9   2015-02-09 13:09:55        Mediacore  Software      7
 10  2015-02-07 22:58:10  Acme Coporation  Hardware      1
 11  2015-02-11 22:50:44            Hooli  Software      4
 12  2015-02-26 08:58:51        Streeplex   Service      1
 13  2015-02-05 22:05:03            Hooli   Service     10
 14  2015-02-04 15:36:29        Streeplex  Software     13
 15  2015-02-19 16:02:58        Mediacore   Service     10
 16  2015-02-19 10:59:33        Mediacore  Hardware     16
 17  2015-02-02 20:54:49        Mediacore  Hardware      9
 18  2015-02-21 05:01:26        Mediacore  Software      3
 19  2015-02-21 20:41:47            Hooli  Hardware      3]

In [7]:
# using glob
from glob import glob
filenames = glob('sales*.csv')
dataframes = [pd.read_csv(filename) for filename in filenames]
dataframes

[                   Date          Company   Product  Units
 0   2015-02-26 08:57:45        Streeplex   Service      4
 1   2015-02-16 12:09:19            Hooli  Software     10
 2   2015-02-03 14:14:18          Initech  Software     13
 3   2015-02-02 08:33:01            Hooli  Software      3
 4   2015-02-25 00:29:00          Initech   Service     10
 5   2015-02-05 01:53:06  Acme Coporation  Software     19
 6   2015-02-09 08:57:30        Streeplex   Service     19
 7   2015-02-11 20:03:08          Initech  Software      7
 8   2015-02-04 21:52:45  Acme Coporation  Hardware     14
 9   2015-02-09 13:09:55        Mediacore  Software      7
 10  2015-02-07 22:58:10  Acme Coporation  Hardware      1
 11  2015-02-11 22:50:44            Hooli  Software      4
 12  2015-02-26 08:58:51        Streeplex   Service      1
 13  2015-02-05 22:05:03            Hooli   Service     10
 14  2015-02-04 15:36:29        Streeplex  Software     13
 15  2015-02-19 16:02:58        Mediacore   Service     10
 16  2015-02-19 10:59:33        Mediacore  Hardware     16
 17  2015-02-02 20:54:49        Mediacore  Hardware      9
 18  2015-02-21 05:01:26        Mediacore  Software      3
 19  2015-02-21 20:41:47            Hooli  Hardware      3,
                 Date          Company   Product  Units
 0   21-01-2015 19:13        Streeplex  Hardware     11
 1   09-01-2015 05:23        Streeplex   Service      8
 2   06-01-2015 17:19          Initech  Hardware     17
 3   02-01-2015 09:51            Hooli  Hardware     16
 4   11-01-2015 14:51            Hooli  Hardware     11
 5   01-01-2015 07:31  Acme Coporation  Software     18
 6   24-01-2015 08:01          Initech  Software      1
 7   25-01-2015 15:40          Initech   Service      6
 8   13-01-2015 05:36            Hooli   Service      7
 9   03-01-2015 18:00            Hooli   Service     19
 10  16-01-2015 00:33            Hooli  Hardware     17
 11  16-01-2015 07:21          Initech   Service     13
 12  20-01-2015 19:49  Acme Coporation  Hardware     12
 13  26-01-2015 01:50  Acme Coporation  Software     14
 14  15-01-2015 02:38  Acme Coporation   Service     16
 15  06-01-2015 13:47  Acme Coporation  Software     16
 16  15-01-2015 15:33        Mediacore  Hardware      7
 17  27-01-2015 07:11        Streeplex   Service     18
 18  20-01-2015 11:28        Streeplex  Software     13
 19  16-01-2015 19:20        Mediacore   Service      8,
                 Date          Company   Product  Units
 0   02-02-2015 08:30            Hooli  Software      3
 1   02-02-2015 21:00        Mediacore  Hardware      9
 2   03-02-2015 14:00          Initech  Software     13
 3   04-02-2015 15:30        Streeplex  Software     13
 4   04-02-2015 22:00  Acme Coporation  Hardware     14
 5   05-02-2015 02:00  Acme Coporation  Software     19
 6   05-02-2015 22:00            Hooli   Service     10
 7   07-02-2015 23:00  Acme Coporation  Hardware      1
 8   09-02-2015 09:00        Streeplex   Service     19
 9   09-02-2015 13:00        Mediacore  Software      7
 10  11-02-2015 20:00          Initech  Software      7
 11  11-02-2015 23:00            Hooli  Software      4
 12  16-02-2015 12:00            Hooli  Software     10
 13  19-02-2015 11:00        Mediacore  Hardware     16
 14  19-02-2015 16:00        Mediacore   Service     10
 15  21-02-2015 05:00        Mediacore  Software      3
 16  21-02-2015 20:30            Hooli  Hardware      3
 17  25-02-2015 00:30          Initech   Service     10
 18  26-02-2015 09:00        Streeplex   Service      4]

In [8]:
# indexes vs indices
dataframe0 = pd.read_csv('sales-jan-2015.csv',index_col='Company')
dataframe1 = pd.read_csv('sales-feb-2015.csv',index_col='Company')
dataframe0.head(5)

                       Date   Product  Units
Company
Streeplex  21-01-2015 19:13  Hardware     11
Streeplex  09-01-2015 05:23   Service      8
Initech    06-01-2015 17:19  Hardware     17
Hooli      02-01-2015 09:51  Hardware     16
Hooli      11-01-2015 14:51  Hardware     11

In [9]:
dataframe1

                                Date   Product  Units
Company
Streeplex        2015-02-26 08:57:45   Service      4
Hooli            2015-02-16 12:09:19  Software     10
Initech          2015-02-03 14:14:18  Software     13
Hooli            2015-02-02 08:33:01  Software      3
Initech          2015-02-25 00:29:00   Service     10
Acme Coporation  2015-02-05 01:53:06  Software     19
Streeplex        2015-02-09 08:57:30   Service     19
Initech          2015-02-11 20:03:08  Software      7
Acme Coporation  2015-02-04 21:52:45  Hardware     14
Mediacore        2015-02-09 13:09:55  Software      7
Acme Coporation  2015-02-07 22:58:10  Hardware      1
Hooli            2015-02-11 22:50:44  Software      4
Streeplex        2015-02-26 08:58:51   Service      1
Hooli            2015-02-05 22:05:03   Service     10
Streeplex        2015-02-04 15:36:29  Software     13
Mediacore        2015-02-19 16:02:58   Service     10
Mediacore        2015-02-19 10:59:33  Hardware     16
Mediacore        2015-02-02 20:54:49  Hardware      9
Mediacore        2015-02-21 05:01:26  Software      3
Hooli            2015-02-21 20:41:47  Hardware      3

In [10]:
# dataframe indexes
print(dataframe1.index)

Index(['Streeplex', 'Hooli', 'Initech', 'Hooli', 'Initech', 'Acme Coporation',
       'Streeplex', 'Initech', 'Acme Coporation', 'Mediacore',
       'Acme Coporation', 'Hooli', 'Streeplex', 'Hooli', 'Streeplex',
       'Mediacore', 'Mediacore', 'Mediacore', 'Mediacore', 'Hooli'],
      dtype='object', name='Company')

In [11]:
print(dataframe0.index)

Index(['Streeplex', 'Streeplex', 'Initech', 'Hooli', 'Hooli',
       'Acme Coporation', 'Initech', 'Initech', 'Hooli', 'Hooli', 'Hooli',
       'Initech', 'Acme Coporation', 'Acme Coporation', 'Acme Coporation',
       'Acme Coporation', 'Mediacore', 'Streeplex', 'Streeplex', 'Mediacore'],
      dtype='object', name='Company')

In [12]:
print(type(dataframe1.index))

<class 'pandas.core.indexes.base.Index'>

In [13]:
# Arithmetic with series and dataframes
df = pd.read_csv('pittsburgh2013.csv',index_col='Date', parse_dates=True)
df

,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,Mean Dew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,32,28,21,30,27,16,100,89,77,30.10,...,10,6,2,10,8,NaN,0.00,8,Snow,277
2013-01-02,25,21,17,14,12,10,77,67,55,30.27,...,10,10,10,14,5,NaN,0.00,4,NaN,272
2013-01-03,32,24,16,19,15,9,77,67,56,30.25,...,10,10,10,17,8,26.0,0.00,3,NaN,229
2013-01-04,30,28,27,21,19,17,75,68,59,30.28,...,10,10,6,23,16,32.0,0.00,4,NaN,250
2013-01-05,34,30,25,23,20,16,75,68,61,30.42,...,10,10,10,16,10,23.0,0.21,5,NaN,221
2013-01-06,37,34,32,31,28,23,87,75,65,30.22,...,10,10,8,14,9,22.0,0.26,8,Snow,232
2013-01-07,33,29,25,27,24,21,86,78,65,30.48,...,10,7,4,10,8,NaN,0.06,5,NaN,236
2013-01-08,43,31,19,29,24,19,100,75,51,30.39,...,10,8,2,12,7,NaN,0.00,0,NaN,178
2013-01-09,45,36,28,39,32,25,89,76,65,30.50,...,10,10,5,18,11,25.0,0.03,3,Rain,211
2013-01-10,41,34,30,29,27,25,85,69,53,30.63,...,10,10,8,10,6,NaN,0.00,0,NaN,72
2013-01-11,53,47,41,52,44,26,100,86,51,30.29,...,10,7,0,9,7,NaN,0.15,6,Fog-Rain,160
2013-01-12,62,55,48,56,52,48,100,94,72,30.09,...,10,5,0,10,7,18.0,0.02,6,Fog-Rain,181
2013-01-13,68,62,55,56,53,51,100,77,61,29.95,...,10,9,4,21,9,26.0,0.16,4,Rain,190
2013-01-14,57,44,30,55,34,23,94,79,60,30.39,...,10,10,3,22,9,32.0,0.03,5,Rain,317
2013-01-15,33,30,26,30,24,21,96,79,69,30.41,...,10,8,1,9,5,NaN,0.00,4,Rain-Snow,360
2013-01-16,34,32,30,32,31,28,100,94,85,30.06,...,10,3,0,14,3,21.0,0.20,7,Fog-Rain,270
2013-01-17,33,32,30,28,27,26,93,82,75,30.20,...,10,8,2,15,9,20.0,0.04,5,Snow,251
2013-01-18,30,24,19,22,14,5,86,62,47,30.52,...,10,8,0,21,12,29.0,0.03,3,Fog-Snow,284
2013-01-19,52,42,32,21,16,11,48,34,24,30.26,...,10,10,10,24,15,39.0,0.05,1,NaN,204
2013-01-20,46,35,24,29,17,10,60,50,40,30.15,...,10,10,10,23,16,34.0,0.00,2,NaN,277
2013-01-21,25,18,12,19,12,-1,93,69,52,30.12,...,10,7,0,21,9,32.0,0.00,7,Fog-Snow,267
2013-01-22,12,9,6,3,-2,-6,70,60,48,30.32,...,10,10,6,17,13,26.0,0.00,4,NaN,274
2013-01-23,16,11,6,10,1,-3,80,62,45,30.34,...,10,10,7,13,8,20.0,0.00,4,NaN,247
2013-01-24,21,16,12,11,6,-5,88,67,33,30.57,...,10,8,2,14,5,21.0,0.00,5,Snow,324
2013-01-25,19,16,12,16,10,3,86,76,58,30.52,...,10,5,0,9,4,NaN,0.00,7,Fog-Snow,124
2013-01-26,27,23,19,21,18,13,93,79,63,30.47,...,10,5,1,10,7,16.0,0.00,8,Snow,275
2013-01-27,30,23,16,19,15,13,93,70,51,30.57,...,10,8,2,6,2,NaN,0.21,1,NaN,109
2013-01-28,50,40,30,49,38,19,100,91,61,30.32,...,10,4,1,18,9,26.0,0.50,8,Rain-Snow,195
2013-01-29,68,59,50,54,51,49,100,66,54,30.06,...,10,5,0,15,8,22.0,0.02,5,Fog,193
2013-01-30,66,58,48,56,52,43,100,84,60,29.76,...,10,8,1,30,14,50.0,0.99,6,Rain,186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-02,48,42,37,35,32,28,83,67,56,29.98,...,10,10,8,7,5,NaN,0.00,7,Rain,248
2013-12-03,54,46,37,40,37,34,93,75,53,29.93,...,10,7,2,6,2,NaN,0.01,4,Rain,83
2013-12-04,57,50,42,45,41,36,80,69,62,30.01,...,10,9,5,9,5,NaN,0.00,3,NaN,142
2013-12-05,63,51,39,58,50,37,94,84,65,30.05,...,10,5,2,20,10,29.0,1.00,7,Rain,210
2013-12-06,39,34,28,37,31,26,93,89,81,30.29,...,10,5,0,14,8,22.0,0.59,8,Fog-Rain-Snow,341
2013-12-07,30,26,19,27,20,12,93,75,58,30.61,...,10,10,2,10,7,20.0,0.00,6,Snow,331
2013-12-08,30,24,19,29,20,11,93,81,68,30.58,...,10,5,0,13,6,17.0,0.09,7,Fog-Rain-Snow,82
2013-12-09,37,34,30,37,32,22,100,87,69,30.16,...,10,4,0,17,9,24.0,0.04,8,Fog-Rain,200
2013-12-10,30,26,23,22,18,8,88,71,43,30.29,...,10,6,0,20,10,25.0,0.05,5,Fog-Snow,267
2013-12-11,30,24,19,21,14,10,80,64,51,30.38,...,10,9,3,16,10,24.0,0.00,4,Snow,255
2013-12-12,23,18,12,12,5,2,71,57,42,30.50,...,10,10,9,16,10,26.0,0.00,4,NaN,260
2013-12-13,34,28,21,17,11,3,59,50,45,30.29,...,10,10,10,15,9,NaN,0.00,2,NaN,233
2013-12-14,39,34,30,37,30,17,93,85,54,30.25,...,10,4,0,14,6,21.0,0.55,8,Fog-Rain-Snow,127
2013-12-15,39,30,21,37,24,8,93,78,55,30.06,...,10,8,2,26,13,36.0,0.02,8,Rain-Snow,264
2013-12-16,26,22,19,21,15,10,86,73,62,30.20,...,10,7,2,8,5,17.0,0.00,8,Snow,297
2013-12-17,35,30,24,31,25,21,93,82,66,30.06,...,10,5,1,14,7,23.0,0.07,8,Snow,228
2013-12-18,28,26,24,25,20,16,93,76,63,30.22,...,10,9,2,16,11,22.0,0.00,6,Snow,249
2013-12-19,51,39,27,33,25,17,72,52,42,30.14,...,10,10,10,16,10,24.0,0.00,0,NaN,202
2013-12-20,55,50,46,49,39,24,86,64,36,30.02,...,10,10,5,16,11,26.0,0.02,7,Rain,193
2013-12-21,61,58,55,59,54,48,94,86,74,29.90,...,10,8,2,20,10,28.0,0.81,7,Rain,183
2013-12-22,68,62,55,58,53,46,90,75,65,29.95,...,10,10,2,26,15,47.0,0.20,7,Rain,214
2013-12-23,55,42,30,46,33,17,93,78,57,30.31,...,10,8,4,16,8,26.0,0.07,8,Rain,291
2013-12-24,30,22,14,23,15,5,86,69,46,30.55,...,10,6,0,18,9,29.0,0.02,7,Fog-Snow,285
2013-12-25,27,20,12,23,14,6,88,71,55,30.54,...,10,8,2,7,4,NaN,0.00,5,Snow,164
2013-12-26,36,31,26,27,23,13,93,74,48,30.37,...,10,6,1,20,9,28.0,0.06,6,Snow,220
2013-12-27,41,34,27,25,20,14,66,56,48,30.39,...,10,10,10,12,8,NaN,0.00,4,NaN,207
2013-12-28,52,43,34,27,24,19,56,47,38,30.27,...,10,10,10,16,10,20.0,0.00,0,NaN,197
2013-12-29,44,42,39,40,37,23,100,87,45,30.03,...,10,5,0,15,8,21.0,0.66,8,Fog-Rain,301
2013-12-30,41,32,23,37,21,14,87,76,64,30.22,...,10,8,1,16,9,26.0,0.01,8,Rain-Snow,320
2013-12-31,26,24,23,21,17,12,85,73,60,30.34,...,10,6,0,22,9,33.0,0.00,7,Snow,235

In [14]:
df.loc['2013-7-1':'2013-7-7', 'PrecipitationIn']

Date
2013-07-01    0.18
2013-07-02    0.14
2013-07-03    0.00
2013-07-04    0.25
2013-07-05    0.02
2013-07-06    0.06
2013-07-07    0.10
Name: PrecipitationIn, dtype: float64

In [15]:
# scalar multiplication
df.loc['2013-07-01':'2013-07-07', 'PrecipitationIn'] * 7.54

Date
2013-07-01    1.3572
2013-07-02    1.0556
2013-07-03    0.0000
2013-07-04    1.8850
2013-07-05    0.1508
2013-07-06    0.4524
2013-07-07    0.7540
Name: PrecipitationIn, dtype: float64

In [16]:
# absolute temperature range
week1_range = df.loc['2013-07-01':'2013-07-07',['Min TemperatureF', 'Max TemperatureF']]

In [17]:
week1_range

            Min TemperatureF  Max TemperatureF
Date
2013-07-01                66                79
2013-07-02                66                84
2013-07-03                71                86
2013-07-04                70                86
2013-07-05                69                86
2013-07-06                70                89
2013-07-07                70                77

In [18]:
# average temperature
week1_mean = df.loc['2013-07-01':'2013-07-07','Mean TemperatureF']

In [19]:
week1_mean

Date
2013-07-01    72
2013-07-02    74
2013-07-03    78
2013-07-04    77
2013-07-05    76
2013-07-06    78
2013-07-07    72
Name: Mean TemperatureF, dtype: int64

In [20]:
week1_range.divide(week1_mean, axis=0)

            Min TemperatureF  Max TemperatureF
Date
2013-07-01          0.916667          1.097222
2013-07-02          0.891892          1.135135
2013-07-03          0.910256          1.102564
2013-07-04          0.909091          1.116883
2013-07-05          0.907895          1.131579
2013-07-06          0.897436          1.141026
2013-07-07          0.972222          1.069444

In [21]:
# percentage change
week1_mean.pct_change() * 100

Date
2013-07-01         NaN
2013-07-02    2.777778
2013-07-03    5.405405
2013-07-04   -1.282051
2013-07-05   -1.298701
2013-07-06    2.631579
2013-07-07   -7.692308
Name: Mean TemperatureF, dtype: float64